@media only screen and (max-width: 644px) {
    .slider__content > h2 {
        font-size: 45px;
    }
    .text-top {
        display: none;
    }
    .navbar-collapse {
        margin-top: 30px;
        
    }
    .nav-item {
        margin-right: 0px;
    }
    .row-item {
        margin-bottom: 15px;
    }
    
    .background-mobile {
        background-color: #088bed;
        margin-top: 10px;
    }

    .statistical-box {
        width: 100%
    }
    .statistical-box-active {
        width: 100%
    }
    .faq-left {
        width: 100%;
    }
    .faq-right {
        width: 100%;
    }
    
    .item-big {
        margin-bottom: 20px;
    }
    .item-big-top {
        margin-top: 20px;
    }
    
    .content-left {
        padding: 0 5%;
    }
    .arrow > img {
        transform: rotate(90deg);
        margin: 30px 0px;
    }
    .question > ul > li > p {
        font-size: 13px;
    }
    .question > ul > li > p > span {
        width: 30px;
        height: 30px;
    }
    .footer-content {
        padding: 100px 20px;
        color: #fff;
    }
    
}
@media only screen and (max-width: 485px) {
    .nav-item-first-child {
        padding-left: 20px !important;
        border-top: 1px solid #088bed;
    }
    .navbar-nav > .nav-item {
        height: 50px;
        border-bottom: 1px solid #088bed;
    }
    .navbar-nav > .nav-item  > a {
        line-height: 35px;
    }
    .slider-title {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .slider_btn {
        margin: 30px 0px;
    }
    .quotation {
        display: none;
    }
    .single_slide {
        height: 400px;
    }
    .item-big-mobile {
        margin-top: 15px;
    }
    .clients-item {
        width: 100%;
        margin-top: 15px;
        margin-left: 0px !important;
    }
    .social-network {
        display: none;
    }
    .image-video > img {
        display: none;
    }
    .video-intro > img {
        display: none;
    }
    #myVideo {
        height: 60vh;
    }
    .video {
        margin-bottom: 0px !important;
    }
    .background-mobile {
        background-color: transparent;
    }
    .copyright-container > p {
        font-size: 14px;
    }
    .clients-about-us {
        margin-top: 0px;
    }
    .text-contact > p {
        font-size: 14px;
        line-height: 25px;
    }
    .card-header > p {
        font-size: 13px;
    }
    .card-body {
        color: #fff;
        font-size: 13px;
    }
    .faq {
        margin-top: 0px;
    }
    .faq-right > img {
        width: 90%;
    }
    .top-icon-phone {
        display: none;
    }
    .top-header {
        height: 100px;
    }
    .text-left, .text-right {
        font-size: 14px;
    }
    .dowload > p {
        padding-left: 10px;
        font-size: 13px;
        
    }
    .dowload > span {
        float: right;
        padding: 10px;
        height: 40px;
        width: 40px;
        border: 1px solid #53aef2;
        margin: 28px 10px 10px 10px;
    }
    .item-question {
        margin-bottom: 15px;
    }
    .content-banner > h1 {
        margin-top: 40%;
    }
    .padding-left-default {
        margin-bottom: 50px;
    }
    .padding-left-default > img {
        height: 250px;
    }
    .content-about > h1 {
        font-size: 38px;
    }
    .chooseus {
        margin-top: 30px;
    }
    .checkbox-item > p {
        float: left;
        margin-left: 10px;
        line-height: 35px;
        font-size: 12px;
    }
    .content-question {
        margin: 80px 0px;
    }
    .item-text {
        font-size: 13px;
        margin-left: 10px;
    }
    .img-partner {
        margin-bottom: 15px;
    }
    .copyright > p {
        font-size: 13px;
    }
    .img-awards2 {
        margin-bottom: 15px;
    }
    .item-clients > .item {
        padding: 10px;
    }
    .clients-text {
        padding: 10px; 
    }
    .square-yellow {
        width: 100%;
        height: 100%;
        background-color: #fac921;
        float: left;
    }
    .item-text-mobile {
        margin-left: 0px;
        width: 100%;
        display: inline-block;
    }
    .star-rating {
        float: left;
        margin-bottom: 20px;
    }
    .share-social, .share {
        display: none;
    }
    .number-pages {
        margin: 0px 25%;
    }
    .cyber {
        font-size: 11px;
    }
    .contact {
        padding: 50px 10px 10px 10px;
    }
    .input-contact-mobile {
        margin-bottom: 15px;
    }
    .recent-text-post > p {
        font-size: 12px;
        font-weight: 700;
    }
    .btn-subscribe {
        width: 100%;
        border-radius: 0px;
    }
    .clients-img {
        width: 100%;
        height: 100%;
    }
    .clients-img > img {
        width: 100%;
        height: 100%;
    }
    .time > li {
        font-size: 11px;
    }
    .text-time-first {
        margin-left: 0px;
    }
    .follow > li {
        font-size: 12px;
    }
    .executive-item {
        width: 100%;
        background-color: #fff;
        display: inline-block;
        margin-bottom: 15px;
    }
    .img-experience > img {
        right: 0;
        bottom: 0;
        position: absolute;
        margin-right: -80px;
        margin-bottom: 60px;
    }
    .text-experience {
        margin-left: 0px;
        margin-top: 100px;
    }
    .years-experience {
        width: 100%;
        height: auto;
        margin: 50px 0px;
    }
    .social-div {
        display: inline-block;
    }
    .banner-title-choose {
        font-size: 50px !important;
    }
    .choose-text > p {
        font-size: 14px;
        line-height: 23px;
    }
    .item-tech {
        width: 130px;
        height: 125px;
    }
    .line-yellow {
        width: 100%;
        transform: rotate(90deg);
    }
    .statistical-below > ul > li {
        float: left;
        padding: 15px;
        color: #fff;
    }
    .statistical-below {
        height: 650px;
    }
    .line-yellow {
        line-height: 0px;
    }
    .statistical-below {
        width: 100%;
        border: 1px solid #087ad2;
        margin: -10px 0px 15px -10px;
        background-color: #091d3e;
    }
}
@media only screen and (max-width: 320px) {
    .item-tech {
        width: 115px;
        height: 125px;
    }

    .copyright-container > p {
        font-size: 12px;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 768px){
    .nav-item > a {
        font-size: 10px;
    }
    .below {
        width: 350px;
        height: 350px;
    }
    .above {
        width: 350px;
        height: 350px;
    }
    .content-left {
        padding-left: 20%;
    }
    .faq-text-left {
        padding-top: 30px;
        color: #fff;
    }
    .clients-item {
        width: 31%;
        background-color: #fff;
        float: left;
        padding: 20px 10px;
    }
    .footer-content {
        padding: 100px 0px;
        color: #fff;
    }
    .footer-content > .services {
        font-size: 25px;
    }
    .footer-content > .item-new > .item-yellow {
        width: 55px;
        height: 55px;
    }
    .item-text {
        font-size: 11px;
    }
    .footer-content > table > tbody > tr > td {
        font-size: 14px;
    }
    .footer-content > .subscribe-now {
        font-size: 25px;
    }
    .statistical-below {
        height: 301px;
    }
    .dowload > p {
        padding-left: 10px;
        font-size: 13px;
        
    }
    .dowload > span {
        float: right;
        padding: 10px;
        height: 40px;
        width: 40px;
        border: 1px solid #53aef2;
        margin: 28px 10px 10px 10px;
    }
    .square-yellow {
        width: 100px;
        height: 100px;
        background-color: #fac921;
        float: left;
    }
    /* .item-text-mobile {
        margin-left: 0px;
        width: 100%;
        display: inline-block;
    } */
    .star-rating {
        float: left;
        margin-bottom: 20px;
    }
    .title-clients > h1 {
        font-size: 40px;
    }
    .text-right, .text-left {
        font-size: 12px;
    }
    .top-icon-phone {
        display: none;
    }
    .mistaken {
        font-size: 13px;
    }
    .question-content {
        padding: 10px;
    }
    .checkbox-item {
        font-size: 10px;
    }
    .img-partner > img {
        width: 100%;
    }
    .share-social, .share {
        display: none;
    }
    .number-pages {
        margin: 0px 37%;
    }
    .executive-item {
        width: 100%;
        background-color: #fff;
        display: inline-block;
        margin-bottom: 15px;
    }
    .social-div {
        display: inline-block;
    }
    .ul-category > li > span {
        font-size: 13px;
    }
    .recent-text-post > p {
        font-size: 13px;
    }
    .btn-subscribe {
        width: 100%;
        border-radius: 0px;
    }
    .time > li {
        font-size: 10px;
    }
    .time > li > span {
        font-size: 7px;
    }
    .text-time-first {
        margin-left: 0px;
    }
    .star-rating {
        margin-left: 30px;
    }
  }