html,
body, .row {
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    color: #1a2826;
    touch-action: manipulation;
    height: 100%;
    font-family: 'Imbue', serif;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #fff;
}
.padding-default {
    padding: 0px;
}
.clear {
    clear: both;
}
header {
    min-width: 100%;
}
.top-bar {
    height: 100px;
    min-width: 100%;
    background-color: #088bed;
}
.content-logo {
    height: 100px;
    position: relative;
}
.logo {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
}
.text-top {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
}
.title-top {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
.title-top > span {
    color: #000;
    font-size: 24px;
    font-size: 16px;
}
.solution {
    color: #fff;
}
.menu {
    width: 100%;
    display: block;
}
.menu, .navbar {
    background-color: #091d3e !important;
}

.navbar-nav > .active > a {
    color: #088bed !important;
}

.nav-item {
    background-color: #091d3e;
    padding: 0px 20px;
}
.nav-item-first-child {
    background-color: #091d3e;
    padding-left: 0px !important;
    padding-right: 20px !important;
}
.nav-item > a {
    color: #fff !important;
}
.navbar-light .navbar-toggler-icon  {
    color: #fff;
}
.slider_area {
    width: 100%;
    display: inline-block;
}
/* 2.5 Slider css here */
.single_slide {
    height: 595px;
}
.slider_area .single_slide .container,.slider_area .single_slide .row {
    height: 100%;
}
.slider_area .single_slide .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.slider_list.owl-carousel .owl-nav > div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 100%;
  color: #363f4d;
  cursor: pointer;
  display: block;
  height: 60px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 60px;
  z-index: 8;
  font-size: 18px;
  opacity: 0;
}
.slider_list.owl-carousel .owl-nav > .owl-next {
  left: auto;
  right: 20px;
}
.slider_list.owl-carousel:hover .owl-nav > div{
    opacity: 1;
}
.slider_list.owl-carousel:hover .owl-nav > div {
  margin-top: 0;
}

.slider_list.owl-carousel .owl-nav > div:hover {
  background: #78a206 none repeat scroll 0 0;
  color: #ffffff;
}
.single_slide {
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider_list.owl-carousel .owl-dots > div {
	width: 12px;
	height: 12px;
	background: #fff;
	display: inline-block;
	margin: 0 5px;
	border-radius: 50%;
}
.owl-dots {
    display: none;
}
/* .slider_list.owl-carousel .owl-dots {
	position: absolute;
	bottom: 15px;
	width: 100%;
	text-align: center;
} */
/* .slider_list.owl-carousel .owl-dots .owl-dot.active {
	background: #78a206;
	width: 38px;
	border-radius: 15px;
	-webkit-transition: .5s;
	transition: .5s;
} */
.slider__content p, .slider__content h2,.slider__content h3,.slider__content h6,.slider__content .slider_btn > a {
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-name: fadeOutDown;
	animation-name: fadeOutDown;
}
.active .slider__content p, .active .slider__content h2, .active .slider__content h3,.active .slider__content h6,.active .slider__content .slider_btn > a{
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

.active .slider__content p{
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.active .slider__content h2{
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.active .slider__content h3{
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}
.active .slider__content h6{
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
.slider__content .slider_btn > a{
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

.slider__content > p {
  color: #78a206;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.slider__content > h2{
    color: #363f4d;
    display: inherit;
    font-size: 60px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 15px;
    padding: 0;
    text-transform: inherit;
}
.slider__content > h2 strong,.slider__content > h3 strong{
    color: #363f4d;
    font-weight: 700;
}
.slider__content > h3 {
  color: #363f4d;
  font-size: 60px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 10px;
}
.slider__content > h6 {
  color: #363f4d;
  font-size: 18px;
  margin: 22px 0 35px;
}
.slider__content > h6 span {
    color: #78a206;
    font-size: 30px;
    font-weight: 700;
}
.slider__content .slider_btn a {
    background:#088bed none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 50px;
    padding: 0 50px;
    text-decoration: none;
    -webkit-transition: all 300ms ease-in 0s;
    transition: all 300ms ease-in 0s;
}
.slider__content .slider_btn a:hover {
    background: #363f4d none repeat scroll 0 0;
}
.quotation {
    float: right;
}
.below {
    width: 400px;
    height: 400px;
    display: inline-block;
    background-color: #087ad2;
    position: relative;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.above {
    width: 400px;
    height: 400px;
    display: inline-block;
    background-color: #087ad2;
    position: absolute;
    left: 0px;
    z-index: 10;
    top: 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.above > img {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.icon-angle-double {
    margin-left: 20px;
    margin-top: 5px;
}
.btns {
    height: 100px;
    background-color: #e4f0fa;
    display:flex;
    align-items:center; /*for vertically center*/
    justify-content:center; /*for horizontally center*/
    margin-bottom: 100px;
    margin-top: -10px;
}
.customNextBtn {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #091d3e;
    float: left;
    text-align: center;
}
.customNextBtn, .customPreviousBtn > i {
    margin: auto;
    line-height: 50px;
    color: #fff;

}
.customPreviousBtn  {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #088bed;
    float: left;
    text-align: center;
}
.content-services {
    display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.services {
    padding-top: 0px;
}
.btn-services {
    background-color: #f7f9fb;
}
.services-item {
    padding-top: 80px;
    display:inline-block;
    min-height: 750px;
}
.services-item > .row > .row-item > .item {
    width: 100%;
    border: 1px solid #bbbbbb;
    display: inline-block;
}
.circle-number {
    float: right;
    width: 50px;
    height: 50px;
    background-color: #088bed;
    margin: 30px;
    border-radius: 50%;
    text-align: center;
}
.circle-number > p {
    line-height: 50px;
    color: #fff;
    font-weight: bold;

}
.circle-number-active {
    background-color: #fff !important;
    float: right;
    width: 50px;
    height: 50px;
    margin: 30px;
    border-radius: 50%;
    text-align: center;
}
.circle-number-active > p {
    color: #088bed;
    line-height: 50px;
    font-weight: bold;
}
.image-item {
    display: inline-block;
    width: 100%;
    padding: 0px 5% 0px 10%;
}
.image-item > img {
    width: 90px;
    height: 90px;
}
.image-dot {
    margin-top: 40px;
}
.image-item > h2  {
    font-weight: bold;
    margin: 40px 0px;
    font-size: 18px;
}
.image-item > p {
    font-size: 13px;
}
.image-item > .read-more {
    margin: 40px 0px;
}
.item:hover {
    background-color: #112444;
    color: #fff;
}
.video {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    margin-bottom: 150px;
}
.background-video {
    width: 100%;
    display: inline-block;
    height: 500px;
}
.image-video {
    width: 100%;
    display: flex;
    justify-content: center;
}
.image-video > img {
    width: 80%;
    padding-top: 95px;
    position: relative;
    height: 500px;
    float: right;
    margin-left: 30%;
}
.video-intro {
    text-align: center;
    padding: 100px 0px;
}
.video-intro > p {
    font-weight: bold;
}
.video-intro > h1 {
    color: #fff;
}
.statistical {
    width: 100%;
    background-image: url(../images/tam-giac.png);
    background-repeat: no-repeat;
    background-size: 200px 500px;
    height: auto;
    display: inline-block;
    margin-bottom: 100px;
}
.statistical-box {
    width: 80%;
    height: 200px;
    border: 1px solid #f2f2f2;
}
.statistical-box:hover {
    background-color: #091d3e;
    color: #fff;
}
.statistical-box:hover > .box-text > a {
    color: #fff;
}
.statistical-box-active {
    width: 80%;
    height: 200px;
    border: 1px solid #f2f2f2;
    background-color: #091d3e;
    color: #fff;
}
.statistical-box > .icon {
    float: right;
    display: inline-block;
    padding: 20px;
    color:  #088bed;
    
}
.statistical-box-active > .icon {
    float: right;
    display: inline-block;
    padding: 20px;
    color:  #088bed;
    
}
.statistical-box-active > .box-text > a {
    color: #fff;
}

.box-text {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.table {
    margin-top: 100px;
}
.prochudure {
    width: 100%;
    background-color: #091d3e;
    display: inline-block;
    height: auto;
}
.title {
    margin-top: 50px;
    text-align: center;
}
.content-design {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
.item-design {
    text-align: center;
    color: #fff;
}
.item-while {
    width: 100%;
    background-color: #FFF;
    height: 150px;
    display:flex;
    align-items:center; /*for vertically center*/
    justify-content:center; /*for horizontally center*/
    margin-bottom: 50px;
}
.item-black {
    width: 100%;
    background-color: #0b234b;
    height: 150px;
    display:flex;
    align-items:center; /*for vertically center*/
    justify-content:center; /*for horizontally center*/
    margin-top: 50px;
    border: 2px solid #088bed;
}
.title-desing {
    font-size: 25px;
    font-weight: bold;
}
.arrow {
    height: 100%;
    display:flex;
    align-items:center; /*for vertically center*/
    justify-content:center; /*for horizontally center*/
}
.our {
    display: inline-block;
    height: auto;
}
.our-project {
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 100px 0px;
}
.title-our-project {
    text-align: center;
}
.title-our-project > p {
    color: #088bed;
    font-size: 18px;
    font-weight: bold;
}
.title-our-project > h1 {
    font-size: 40px;
    font-weight: bold;
}
.item-big-our-project {
    margin-top: 50px;
    margin-bottom: 15px;
}
.item-big {
    overflow: hidden;
}
.item-big > img {
    width: 100%;
    height: 220px;
    transition: all 1.5s ease;
}
.item-big:hover > img {
    transform: scale(1.5);
}
.item-big-black-01 {
    width: 100%;
    height: 100%;
    background-color: #2d373a;
    background-image: url('../images/home05.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.item-big-black-02 {
    width: 100%;
    height: 100%;
    background-color: #2d373a;
    background-image: url('../images/home06.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.item-big-black-03 {
    width: 100%;
    height: 100%;
    background-color: #2d373a;
    background-image: url('../images/home07.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.item-big-black-04 {
    width: 100%;
    height: 100%;
    background-color: #2d373a;
    background-image: url('../images/home08.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.item-plus {
    width: 50px;
    height: 50px;
    background-color:  #088bed;
    color: #fff;
    float: right;
    margin: 20px;
    display:flex;
    align-items:center; /*for vertically center*/
    justify-content:center; /*for horizontally center*/
}
.text-service {
    display: inline-block;
    width: 100%;
    margin-top: 25%;
    position: relative;
    color: #fff;
    text-align: center;
}
.all-poroject {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.btn-all-project {
    border: 1px solid #088bed;
    color: #091d3e;
    border-radius: 0px;
}
.btn-all-project:hover {
    background-color: #088bed;
    color: #fff;
}
.faq {
    margin-top: 80px;
    width: 100%;
    display: inline-block;
    height: auto;
}
.faq-left {
    width: 50%;
    background-color: #1591ee;
    float: left;
    height: 710px;
}
.content-left {
    padding-left: 35%;
    padding-right: 5%;
    width: 100%;
    height: auto;
    display: block;
    
}
.faq-text-left {
    padding-top: 100px;
    color: #fff;
}
.faq-right {
    width: 50%;
    background-color: #088bed;
    float: left;
    height: 100%;
    height: 710px;
}
.faq-right > img {
    width: 60%;
    padding: 150px 0px 150px 50px;
}
.question {
    margin-top: 50px;
}
.question > ul {
    list-style-type: none;
    padding: 0px;
}
.question > ul > li {
    height: 50px;
    background-color: #37a2f2;
    margin-bottom: 15px;
}
.question > ul > li > p {
    line-height: 50px;
    margin-left: 5%;
    color: #fff;
}
.question > ul > li > p > span {
    float: right;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #000;
    text-align: center;
    line-height: 40px;
    margin: 5px;
}
.question > ul > li > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #37a2f2;
}
.question > ul > li > ul > li {
    margin: 0 2% 0  5%;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.question > ul > li > ul > li > p {
    color: #fff;
    font-size: 15px;
}
.form-contact {
    background-color: #091d3e;
    margin-top: -20px;
    display: inline-block;
    height: auto;
    width: 100%;
}
.contact {
    margin-top: 130px;
    padding-bottom: 130px;
}

.form-control {
    border: 1px solid #284068;
    background-color: #091d3e !important;
}
/* do not group these rules */
*::-webkit-input-placeholder {
    color: #fff !important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #fff !important;
    opacity: 1;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #fff !important;
    opacity: 1;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff !important;
}
*::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff !important;
}
*::placeholder {
    /* modern browser */
    color: #fff !important;
}
.background-mobile > img {
    width: 100%;
    height: 700px;
}
.text-contact {
    color: #fff;
}
.text-contact > h4 {
    font-size: 18px;
    color: #088bed;
}
.text-contact > p {
    font-size: 13px;
    line-height: 15px;
    text-align: justify;
}
.btn-submit-now {
    height: 50px !important;
}

.text-technologies {
    margin-top: 100px;
    text-align: center;
}
.text-technologies > h4 {
    color: #088bed;
}
.text-technologies > h4 > span {
    margin: 0px 20px;
}
.text-technologies > h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
}
.tech {
    width: 80%;
    /* margin: auto;
    width: 98%;
    display: flex;
    justify-content: center;
    justify-items: center; */
}
.item-tech {
    width: 119px;
    height: 125px;
    text-align: center;
    border: 1px solid #ebf2f8;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.item-tech > img {
    width: 50%;
    margin: auto;
    display: inline-block;
    margin : 10px 0px;
    height: 60px;
}
.btn-tech {
    padding: 5px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #091d3e;
    color: #fff;
}
.clients-about-us {
    width: 100%;
    display: inline-block;
    background-color: #f7f9fb;
    padding: 50px 0px;
    margin-top: 100px;
}
.title-clients-us {
    width: 100%;
    text-align: center;
}
.title {
    color: #088bed;
    font-weight: bold;
}
.latest-news {
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 50px 0px 100px 0px;
}

.time-create {
    background-color: #f7f9fb;
    height: 50px;
}
.time {
    list-style-type: none;
    padding: 0px;
    width: 100%;
    display: inline-block;
}
.time >  li {
    float: left;
    font-size: 12px;
}
.title-post-new {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 0px;
}
.text-time { 
    line-height: 50px;
}
.img-full {
    width: 100%;
    height: 225px;
}
.text-line {
    line-height: 50px;
    margin: 0px 10px;
}
.lat-content {
    width: 100%;
    display: inline-block;
    background-color: #f7f9fb;
    padding: 15px;
}
.footer {
    width: 100%;
    background-color: #000;
    height: auto;

}
.footer-div {
    width: 100%;
    border: 1px solid #1a2d4b;
}
.footer-content {
    padding: 100px 30px;
    color: #fff;
}
.footer-content > p:hover {
    color: #ffc000;
}
.footer-logo > p {
    color: #fff;
    font-size: 14px;
    line-height: 13px;
}
.icon-phone {
    font-size: 20px;
    color: #ffc000;
    margin-top: 50px;
}
.icon-phone > i {
    margin-right: 20px;
    transform: rotate(90deg);
}
.social-network {
    width: 50px;
    height: 50px;
    border: 1px solid #087ad2;
    color: #fff;
    display: flex;  
    justify-content: center;
    justify-items: center;
    margin-top: 25px;
    float: right;
}
.social-network > i {
    line-height: 50px;
}
.social-network > img {
    width: 25px;
    height: 25px;
    margin: auto;
}
.footer-content > .services {
    margin-bottom: 30px;
}
.footer-content > .subscribe-now {
    margin: 30px 0px;
}
.input-subscribe {
    border: 1px solid #087ad2;
    background-color: #000;
    border-radius: 50px;
    color: #fff;
}
.input-subscribe:focus {
    border: 1px solid #087ad2;
    background-color: #000;
}
.input-subscribe::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}
  
.input-subscribe:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}
  
.input-subscribe::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}
.footer-content > .item-new > .item-yellow {
    width: 75px;
    height: 75px;
    background-color: #ffc000;
    float: left;
    margin-top: 5px;
}
.copyright {
    width: 100%;
    height: 100px;
    background-color: #081832;
    color: #fff;
}
.copyright-container > p {
    line-height: 100px;
    float: left;
}
.item-yellow > img {
    width: 100%;
    height: 100%;
}
.wining-awards {
    width: 100%;
    height: auto;
}
.wining-awards {
    margin: 100px 0px;
}
.img-awards {
    width: 100%;
}
.item-text {
    display: inline-block;
    margin-left: 30px;
}
.tr-text-left {
    width: 40%;
    padding-bottom: 20px;
}
.tr-text-right {
    width: 60%; 
    text-align: right;
    padding-bottom: 20px;
}
.tr-text-right-closed {
    width: 60%; 
    text-align: center;
    padding-bottom: 20px;
    color: #087ad2;
}
.social-network:hover {
    background-color: #087ad2;
}
.clients-us {
    width: 100%;
    display: inline-block;
    margin-top: 50px;
}
.clients-item {
    width: 32%;
    background-color: #fff;
    float: left;
    padding: 20px 10px;
}
.clients-img {
    width: 100px;
    height: 100px;
    background-color: #087ad2;
    float: left;
}
.clients-img > img {
    width: 100%;
    height: 100px;
}
.clients-name {
    padding-left: 20px;
    display: inline-block;
    float: left;
}
.clients-name > h4 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}
.clients-name > a {
    font-size: 11px;
}
.clients-star > img {
    width: 80px;
    margin-top: 40px;
    float: right;
}

.clients-text {
    width: 100%;
    display: inline-block;
    margin-top: 30px;
}
.clients-text > p {
    font-size: 14px;
}
.btn-next-pre-clients {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.customNextBtnClients {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #088bed;
    float: left;
    text-align: center;
    margin: auto;
}
.customNextBtnClients > i {
    margin: auto;
    line-height: 50px;
    color: #fff;

}
.customPreviousBtnClients > i {
    margin: auto;
    line-height: 50px;
    color: #000;

}
.customPreviousBtnClients  {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    float: left;
    text-align: center;
    margin-left: 20px;
}
.above {
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.above > p {
    color: #fff;
    font-size: 18px;
    margin-top: 35%;
    padding: 0px 20px;
}
.above > p:hover {
    font-size: 20px;
}

#myVideo {
    z-index: 1;
    object-fit: cover;
    height: 60vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.backgroundVideo {
    position: absolute;
    overflow: hidden;
}
.content {
    position: absolute;
    width:100%;
    height:100%;
    opacity: 1;
    z-index: 2;
    overflow: hidden;
}
.technology {
    width: 100%;
    height: auto;
    display: inline-block;
}
.question-item {
    margin-bottom: 10px;
    background-color: #37a2f2;
}
.card-header > p {
    padding-top: 5px;
    margin: 0px;
    color: #fff;
}
.toggle-question {
    float: right;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #000;
    text-align: center;
    line-height: 40px;
    margin: -11px;
}
.card-body {
    color: #fff;
}