footer {
	background: #777777;
	width: 100%;
	box-sizing: border-box;
	padding: 15px 0 30px;
}
.ic1 {
	font-size: 30px;
	color: orange;
	border-radius: 50%;
	box-sizing: border-box;
	padding: 20px 30px;
	cursor: pointer;
}
.img {
	cursor: pointer;
}
.me h3 {
	color: white;
}
.me span {
	color: white;
	font-size: 20px;
}
.me img {
	border-radius: 50%;
}
.toi {
	box-sizing: border-box;
	padding-right: 30px;
}
.me .admin {
	font-size: 25px;
	padding-right: 10px;
}
