* { box-sizing: border-box; }

#product{
  background-color: black;
  padding: 70px 0;
  padding-bottom: 40px;
  position: relative;
}
#product h1{
  color: white;
}

.button:hover {
  background-color: #8CF;
  color: #222;
}
.button-group{
  text-align: center;
  margin-top: 20px;
}
.button{
  margin-bottom: 10px;
}
.button:active,
.button.is-checked {
  background-color: #17a2b8;
}

.button.is-checked {
  color: white;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.element-item{
  margin-top: 20px;
  height: 
}
/* ---- .element-item ---- */
.element-item > * {
  margin: 0;
  padding: 0;
}
#product .grid a{
  display: block !important;
}
.xuong {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 1270px;
  width: 100%;
  left: 0;
  animation: 1s dixuong forwards;
  animation-iteration-count: infinite;
  display: none;
}
.original{
  overflow: hidden;
  cursor: pointer;
}
@keyframes dixuong {
  from{
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
  }
  to{
    opacity: 1;
    visibility: visible;
    transform: translateY(20px);
  }
}

.grid a img:hover{
  transform: scale(1.5);
}
/*@media (max-width:575px){
  .xuong{
    display: block;
  }
  #product{
    height: 1330px;
    overflow-y: hidden;
  }
}
*/