*{
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', monospace;
}

#backTop{
	width: 50px;
	height: 50px;
	background-color: white;
	font-size: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	position: fixed;
	top: 80%;
	right: 3%;
	z-index: 999999;
	color: black;
	display: block;
}


.header{
	height: 45px;
	background-color: #088bed;
	line-height: 45px;
}

.find{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.contact{
	color: white;
	font-weight: bold;
}

.icon{
	margin-right: 2%;
}

.middle{
	height: 65px;
	line-height: 65px;
}

#logo{
	font-size: 40px;
	color: #bbbbbb;
}

#text_logo{
	display: inline;
    font-size: 35px;
    margin-left: 2%;
    font-weight: bold;
}

#text_logo2{
    color: black;
}


.my_menu{
	list-style: none;
	display: block;
}

.text_mymenu{
	float: left;
	padding: 0 3%;
}

.text_mymenu_1{
	float: left;
	padding: 0 3%;
	color: #088bed;
	font-weight: bold;
	font-size: 15px;
	position: relative;
	cursor: pointer;
}

.sub_menu{
	position: absolute;
	top: 65px;
	left: -25px;
	display: none;
	z-index: 2;
}


.text_sub_menu{
	width: 200px;
	background-color: #088bed;
	color: white;
	list-style: none;
	text-align: center;
	border-bottom: 1px solid white;
}
.text_sub_menu:hover{
	color: gray;
}
.text_mymenu>a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 15px;
}

#show_company{
	color: #088bed;
	font-size: 13px;
	font-weight: bold;
	margin-left: 7%;
}

.icon_menu{
	width: 50px;
    height: 50px;
    border: 1px solid black;
    line-height: 50px;
    border-radius: 6px;
	display: none;
}

/* menu */


.wrapped_1{
	background-image: url(img_technology/pt.jpg);
	height: 600px;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
}

.wrapped_1:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(to left, #0000009e 0%, #00000000 50%, #00000069 100%)
}

.text_1_wr{
	font-weight: bold;
    color: white;
    top: 25%;
    left: 20%;
    position: absolute;
}

.first_1{
	position: absolute;
    top: 40%;
    left: 20%;
    color: white;
    font-weight: bold;
}

.first_1>a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

/* Wrapped_1 */

.text_1_wr_2{
	color: #088bed;
    font-size: 15px;
    font-weight: bold;
}
.text_2_wr_2{
	font-weight: bold;
    font-size: 35px;
    color: #091d3e;
    margin-bottom: 5%;
}

.col_1{
	height: 400px;
	padding: 0 10px;
	position: relative;
	overflow: hidden;
}

.img_1{
	width: 100%;
	height: 100%;
	box-shadow: 3px 3px 5px 2px grey;
}

.text_col_1{
	width: 93%;
	height: 100%;
    background: #8e8b8b73;
    position: absolute;
    transition: 1s;
    top:100%;
    font-weight: bold;
    color: white;
    padding: 20% 15%;
}

h2{
	font-weight: bold;
}

.col_1:hover .text_col_1{
	top: 0;
}

/* End wrapped_2 */

.wrapped_3{
	background-color: #091d3e;
	padding: 5% 0;
}
.text_3_wr_3{
	color: white;
    font-weight: bold;
    font-family: monospace;
}
.text_2_wr_3{
	color: white;
	font-size: 25px;
	font-family: monospace;
}

.ruler{
	margin: 3% auto;
	width: 2%;
	height: 2px;
}

.the_founders{
	width: 170px;
	height: 180px;
	padding: 15px;
}

.img_2{
	width: 100%;
	height: 100%;
	transition: 0.4s;
	cursor: pointer;
}

.img_2:hover{
	border: 3px solid #088bed;
	transform: rotate(20deg);
}

.tuong_tac{
	background-image: linear-gradient(to bottom, #1490ec , #152848);
	width: 170px;
	height: 180px;
	padding: 10px;
	color: white;
	font-weight: bold;
}

.text_tt{
	font-size: 13px;
    margin-top: 5%;
}

.icon_tt{
	display: block;
	margin-top: 20%;
}

.icon_mtt{
	text-decoration: none;
	display: inline-block;
    color: white;
    margin: 0 2%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border: 1px solid #088bed;
}

.icon_mtt:hover{
	background-color: #152848;
	color: white;
	font-weight: bold;
}

.roww_2{
	border: 1px dotted white;
    padding: 5% 0;
    margin-top: 5%;
}

.happy{
	font-size: 25px;
    font-weight: bold;
}

.clientt{
	font-size: 25px;
}

.numberrr{
	font-size: 25px;
    margin-top: 5%;
}

.img_3{
	width: 100%;
	height: auto;
}

.roww_4{
	padding: 0;
	position: relative;
	overflow: hidden;
}

.roww_4:before{
	content: '';
	width: 100%;
	height: 99%;
	background-color: #00000078;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.5s;
}

.IT{
	position: absolute;
	top: 60%;
	left: 5%;
	text-align: center;
	color: white;
	opacity: 0;
	transition: 0.5s;
}

.IT_2{
	width: 50%;
	position: absolute;
	top: 0;
	font-weight: bold;
    top: 10%;
    right: 10%;
    text-align: justify;
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.h3_wr4{
	font-size: 20px;
    padding: 0 30%;
}

.ruler1{
	width: 100%;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 57%;
    left: 100%;
    transition: 0.6s;
}
.ruler2{
	width: 1%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: -100%;
    left: 10%;
    transition: 0.6s;
}
.ruler3{
	width: 100%;
    height: 5px;
    background-color: white;
    position: absolute;
    bottom: 7%;
    left: -100%;
    transition: 0.6s;
}
.ruler4{
	width: 1%;
    height: 100%;
    background-color: white;
    position: absolute;
    bottom: -100%;
    left: 48%;
    transition: 0.6s;
}

.roww_4:hover .ruler1{
	left: 12%;
}

.roww_4:hover .ruler2{
	top: -10%;
}

.roww_4:hover .ruler3{
	left: -53%;
}

.roww_4:hover .ruler4{
	bottom: -60%;
}

.roww_4:hover:before{
	opacity: 1;
}

.roww_4:hover .IT{
	opacity: 1;
}

.roww_4:hover .IT_2{
	opacity: 1;
}

.text_1_wr_4{
	font-size: 40px;
}

.skill{
	width: 75%;
	margin: 0 auto;
}

.web{
	padding: 0;
	margin: 10% 0 0 0;
	font-weight: bold;
}

#text_minal1 {
    font-size: 15px;
    color: #088bed;
}

#text_minal2 {
    font-size: 50px;
    font-weight: bold;
    color: #091d3e;
}


.development {
    height: 350px;
    background-color: #f7f9fb;
    padding: 10% 0;
    padding-left: 8%;
}

.roww {
    display: flex;
    flex-wrap: wrap;
}

#img_develop {
    width: 90px;
    height: 90px;
}

#billgate {
    width: 100%;
    height: 100%;
}

#name_develop {
    margin-left: 8%;
    margin-top: 3%;
    font-weight: bold;
    color: #091d3e;
}

.roww2 {
    margin-top: 3%;
    padding-left: 10%;
}

.roww3 {
    height: 503px;
}

.text_deve {
    margin-top: 5%;
    color: #2c3952;
    font-size: 14px;
}

.khuon_roww3 {
    width: 100%;
    height: 100%;
    position: relative;
}

.img_roww3 {
    width: 100%;
    height: 100%;
}

.like_custom {
    width: 198px;
    height: 80px;
    background: #088bed;
    position: absolute;
    color: white;
    text-align: center;
    top: 0;
    right: 0;
 }

 .counterr {
    font-size: 30px;
}

#gate {
    font-size: 11px;
    color: #088bed;
}

.icon8 {
    font-size: 65px;
    color: gray;
    margin-top: 10%;
}

.text_icon8 {
    font-size: 30px;
    font-weight: bold;
    color: gray;
}

.CONTACT {
    background-color: #091d3e;
    padding: 6% 0;
    margin-top: 5%;
}


#logoo {
    font-size: 35px;
    margin-right: 3%;
}

#text_logoo{
	font-size: 30px;
    font-weight: bold;
    display: inline;
    color: white;
}

.text_contact{
	font-size: 13px;
    color: gray;
    width: 70%;
    margin-top: 7%;
}

#Contactt{
	font-size: 20px;
    color: #ffc000;
    font-weight: bold;
    margin-top: 10%;
}

.icon9{
	margin-right: 5%;
}

#mang_xa_hoi{
	margin-top: 14%;
}

.xa_hoi{
	display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #364c6f;
    color: white;
    font-weight: bold;
    margin-right: 3%;
    text-decoration: none;
}

.xa_hoi:hover{
	border-color: #088bed;
}

.text_contact2{
	color: white;
    font-weight: bold;
    font-size: 25px;
}

.text_sevices{
	display: block;
	text-decoration: none;
	color: white;
	position: relative;
	left: 20px;
	margin-top: 3%;
}


.text_sevices:before{
	content: "\f101";
	font: normal normal normal 14px/1 FontAwesome;
	position: absolute;
	top: 5px;
	left: -20px;
	transition: 1s;

}

.text_sevices:hover:before{
	left: -10px;
	text-decoration: none;
}

input{
	width: 60%;
    height: 35px;
    border-radius: 25px;
    padding-left: 5%;
    background-color: #091d3e;
    border: 1px solid #364c6f;
    color: white;
}

.devel{
	width: 66px;
	height: 66px;
	margin-right: 5%;
}

.pa1{
	color: white;
	font-size: 10px;
	font-weight: bold;
	display: block;
	margin: 3% 0 2% 0;
}
.pa2{
	color: white;
	font-size: 10px;
	font-weight: bold;
}

.footer{
	background-color: #081832;
	text-align: center;
	padding: 3% 0;
	color: gray;
	font-weight: bold;
}


@media screen and (min-width: 992px) and (max-width: 1199px)
{
	#name_develop {
     	margin-left: 0%;
     }

     .text_mymenu{
     	padding: 0 1%;
     }
}/* End 992 - 1199 */

@media screen and (min-width: 768px) and (max-width: 991px)
{

	#lien_he{
		font-size: 13px;
	}

	.col_1{
		margin-bottom: 2%;
		padding-right: 5px;
   		padding-left: 5px;
	}

	.col_2{
		padding: 0 10px;
	}

	.col_2_trong_2{
		margin-top: 0%;
	}

	.text_mymenu{
		padding: 0 2%;
	}

	.text_mymenu>a{
		font-size: 12px;
	}

	#logo {
   	 	font-size: 20px;
	}

	#text_logo {
    	font-size: 20px;
	}

	#text_minal2{
		font-size: 25px;
	}

	#name_develop {
   		 margin-left: 0%;
	}

	.roww2 {
    padding-left: 5%;
	}

	.text_col_1{
		width: 97%;
	}

	.numberrr{
		margin-top: 0%;
	}

	.img_3{
		height: 420px;
	}

	.roww_4:before{
		height: 100%;
	}

	.h2_wr4{
		font-size: 20px;
	}

	.h3_wr4{
		font-size: 18px;
	}

	.IT{
		left: -5%;
	}

	.IT_2{
		width: 70%;
		text-align: center;
	}

	.text_1_wr_4 {
    font-size: 35px;
	}
}/* End media 768 - 991 */


@media screen and (min-width: 576px) and (max-width: 767px)
{

	.my_menu {
    display: none;
    position: absolute;
    z-index: 1;
    background: #CCCCCC;
    width: 200px;
    right: 0;
    top: 100%;
}

	.text_mymenu {
    clear: both;
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.text_mymenu_1 {
    clear: both;
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

	.icon_menu {
    display: inline-block;
    font-size: 25px;
}

.sub_menu{
	 opacity: 0;
}

#logo {
    font-size: 20px;
}

#text_logo {
    font-size: 20px;
}

.col_1{
	margin-bottom: 3%;
}

.text_col_1 {
    width: 96.5%;
 }

.Our_s{
	margin-top: 5%;
}

.text_1_wr_4 {
    font-size: 30px;
}

#text_minal2 {
    font-size: 20px;
}

.development{
	height: 420px;
}

#img_develop {
    margin-left: 5%;
}

#name_develop {
    margin-left: 5%;
}

.col__1{
	text-align: center;
	margin-top: 5%;
}

}/* End media 576 - 767 */

@media screen and (max-width: 575px)
{
	.my_menu {
    display: none;
    position: absolute;
    z-index: 1;
    background: #CCCCCC;
    width: 150px;
    right: -15px;
    top: 97%;
	}

	.icon_menu {
    display: inline-block;
	}

	#text_logo {
    font-size: 17px;
}
	#logo {
    font-size: 20px;
}

.menu {
    position: relative;
    text-align: center;
}

.text_mymenu {
    clear: both;
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.text_mymenu_1 {
    clear: both;
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.sub_menu {
    top: 50%;
    left: -100%;
    z-index: 2;
    opacity: 0;
}

.text_1_wr{
	font-size: 25px;
}

.col_1{
	margin-top: 5%;
}

.icon_tt{
	display: flex;
}

.numberrr {
    margin-top: 0;
}

.IT_2{
	font-size: 11px;
	width: 75%;
}

.h2_wr4{
	font-size: 14px;
}

.h3_wr4{
	font-size: 10px
}

.Our_s{
	margin-top: 5%;
}

.text_1_wr_4 {
    font-size: 20px;
}

.web{
	font-size: 10px;
}

#text_minal1 {
    text-align: center;
}

#text_minal2 {
    font-size: 25px;
    text-align: center;
}

#name_develop {
    margin-left: 10px;
}

.roww2 {
    padding-left: 5%;
}

.like_custom {
    width: 100%;
}

.roww3{
		margin-top: 30%;
	}

.icon8 {
    font-size: 50px;
}

.col__3 {
    text-align: center;
	}

	.col__2 {
    text-align: center;
	}
	.col__1 {
    text-align: center;
    margin-top: 3%;
	}

	#text_logo {
    font-size: 17px;
	}

	#logo {
    font-size: 20px;
	}

	#_h1 {
    	font-size: 35px;
	}


	.icon_menu{
		display: inline-block;
	}

	.menu{
		position: relative;
		text-align: center;
	}

	.my_menu{
		display: none;
		position: absolute;
	    z-index: 1;
	    background: #CCCCCC;
	    width: 150px;
	    right: -15px;
	    top: 97%;
	}

	.text_mymenu {
	    clear: both;
	    width: 100%;
	    border-bottom: 1px solid black;
	    text-align: center;
	    height: 50px;
    	line-height: 50px;
	}

	.text_mymenu_1 {
	    clear: both;
	    width: 100%;
	    border-bottom: 1px solid black;
	    text-align: center;
	    height: 50px;
   		line-height: 50px;
	}

	.sub_menu {
	    top: 50%;
	    left: -100%;
	    z-index: 2;
	}

	#_h3{
		font-size: 25px;
	}
	.__img{
		height: auto;
	}

	.col_1{
		margin-top: 1%;
	}

	.text_wrapped3{
		font-size: 25px;
		padding-bottom: 10%;
	}
	.text_wrapped3_3{
		font-size: 20px;
		top: 50%;
	}

	.text_contact{
		margin: 4% auto;
	}

	#mang_xa_hoi{
		margin: 7% auto;
	}

	.text_sevices {
	    position: unset;
	    overflow: hidden;
	    text-decoration: underline;
	}
}/* End max 575 */





