:root{
	--mau_1: #088bed;
};


*{
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', monospace;
	box-sizing: border-box;
}

#logo{
	font-size: 40px;
	color: white;
}

.header{
	background-color: #088bed;
	height: 81px;
	line-height: 81px;
	position: relative;
}

#text_logo{
	display: inline;
    font-size: 35px;
    margin-left: 2%;
    font-weight: bold;
}

#text_logo2{
    color: white;
}

.logo_contact{
	width: 60px;
	height: 60px;
	background-color: #0880db;
	display: inline-block;
	text-align: center;
	line-height: 55px;
	font-size: 30px;
}
.pan0{
	display: block;
    position: absolute;
    top: -15px;
    left: 35%;
    color: #093c6e;
    font-weight: bold;
}

.pan_one{
	position: absolute;
    top: 15%;
    font-size: 15px;
    left: 35%;
    color: white;
    font-weight: bold;
}

.menu{
	height: 70px;
	background-color: #091d3e;
	line-height: 70px;
	position: relative;
}

.my_menu{
	list-style: none;
}

.text_mymenu{
	float: left;
	padding: 0 3%;
}

.text_mymenu_1{
	float: left;
	padding: 0 3%;
	color: #088bed;
	font-weight: bold;
	font-size: 15px;
	position: relative;
	cursor: pointer;
}

.sub_menu{
	position: absolute;
	top: 70px;
	left: -70px;
	display: none;
	z-index: 99;
}


.text_sub_menu{
	width: 200px;
	background-color: #088bed;
	color: white;
	list-style: none;
	text-align: center;
	border-bottom: 1px solid white;
}
.text_sub_menu:hover{
	color: gray;
}
.text_mymenu>a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 15px;
}

#show_company{
	color: #088bed;
	font-size: 13px;
	font-weight: bold;
	margin-left: 7%;
}

.khuong{
	width: 35px;
	height: 35px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 7%;
}

.dot_0{
	width: 10px;
	height: 10px;
	background-color: var(--mau_1);
	border-radius: 50%;
}

.dot_1{
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 50%;
}


.sticky{
	opacity: 0;
	transition: 0.4s;
}

.sticky_1{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #0c093ec7;
	transition: 1s;
	animation: fadeInDown 0.5s both 0.1s;
	z-index: 999999999;
}

/* End header */


.wrapped_1{
	width: 100%;
	height: 650px;
	background-color: #084eed;
	display: flex;
	padding: 3%;
	position: relative;
}

.wrapped_1::after{
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	border-top: 300px solid #084eed;
	border-right: 300px solid transparent;
	border-left: 300px solid transparent;
	border-bottom: 300px solid transparent;
	left: 27%;
	top: 100%;
}

.left{
	width: 50%;
}

.right .web{
	width: 100%;
	height: auto;
}
.right{
	width: 50%;
}

.follow{
	width: 150px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: #091d3e;
}

.follow a{
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.follow:hover{
	background-color: rgb(70, 252, 255);
}

.follow a:hover{
	color: #091d3e;
}

.tieu_De{
	color: white;
	font-weight: bold;
	font-size: 70px;
}

.text_1{
	color: white;
	font-weight: bold;
	font-size: 13px;
}

/* End wrapped_1 */

.wrapped_2{
	width: 100%;
	height: 650px;
	background-color: #091d3e;
}

.sub_wr_2{
	width: 100%;
	display: flex;
	position: relative;
}

.tieu_de_2{
	width: 50%;
	color: white;
	margin-top: 4%;
}

.all{
	width: 50%;
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: var(--mau_1);
	position: absolute;
	right: 5%;
	top: 45%
}

.all a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.chuw{
	position: relative;
	width: 100%;
	background-color: #dddddd4f;
	padding: 5% 0;
	z-index: 9999;

}

.chuw:before{
	content: "";
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 0%;
	background-color: #00000059;
	transition: 1s;
}

.chuw:hover:before{
	height: 100%;
}

.nu{
	width: 30px;
    height: 30px;
    text-align: center;
    background: white;
    color: var(--mau_1);
    line-height: 30px;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: 5%;
}

.dotss{
	width: 19px;
	height: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.sub_dot{
	width: 4px;
	height: 4px;
	background-color: var(--mau_1);
	border-radius: 50%;
}

.icon_sv{
	font-size: 60px;
    position: absolute;
    top: 15%;
    left: 15%;
    color: #bbbbbb
}

.dotss{
	position: absolute;
    top: 35%;
    left: 10%;
}

.text_2{
	font-size: 20px;
    padding-top: 50%;
    text-indent: 10%;
    font-weight: bold;
    color: white;
}

.text_3{
	text-align: justify;
    padding: 0 10%;
    color: white;
}

.more{
	padding: 0 10%;
}

.more a{
	text-decoration: none;
	color: var(--mau_1);
	position: relative;
	font-weight: bold;
}

.wrapped_3{
	display: flex;
	background-color: var(--mau_1);
}

.left_1{
	width: 50%;
	padding-left: 10%;
}
.right_1{
	width: 50%;
	padding-top: 4%;
}

.text_4{
	color: white;
    font-weight: bold;
    text-align: center;
}
.text_5{
	color: white;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
}

/* End wrapped_3 */

.wrapped_4{
	height: 700px;
	background-image: url(img_technology/7-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	background-attachment: fixed;
}

.left_2{
	width: 50%;
	padding: 4%;
}

.o_1{
	width: 80%;
    height: 230px;
    background: white;
    position: relative;
}
.flus{
	position: absolute;
    right: 5%;
    top: 5%;
    font-weight: bold;
    font-size: 20px;
}
.numberr{
	font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-top: 20%;
}
.text_6{
	text-align: center;
}
.right_2{
	width: 50%;
}

.right_2 .imgIT{
	width: 90%;
	height: 700px;
}

.text_7{
	font-weight: bold;
    color: white;
    text-align: center;
    font-size: 50px;
}

.wrapped_5{
	height: 350px;
	background-color: #091d3e;
}

.text_9{
	text-align: center;
    color: var(--mau_1);
    padding-top: 3%;
}

.text_8{
	text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.choose{
	width: 100%;
	text-align: center;
	margin-top: 5%;
}


.ideal{
	position: relative;
	padding: 15px;
	margin: 0 5px;
	display: inline-block;
	overflow: hidden;
	text-decoration: none;
	letter-spacing: 4px;
	font-size: 24px;
	transition: 0.4s;
	color: #2196f3;
	-webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}

.ideal:hover{
	color: #255784;
	background-color: #2196f3;
	box-shadow: 0 0 10px #2916f3,
				0 0 40px #2916f3,
				0 0 80px #2916f3;
	text-decoration: none;
}


.pan1{
	display: block;
	position: absolute;
	width: 80%;
	height: 2px;
	background: linear-gradient(90deg,transparent,#2196f3);
	left: -100%;
	top: 0;
	animation: animate1 0.5s linear infinite;

}

.pan2{
	display: block;
	position: absolute;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,#2196f3);
	right: 0;
	top: -100%;
	animation: animate2 0.5s linear infinite;
	animation-delay: 0.25s;
}

.pan3{
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,#2196f3);
	right: -100%;
	bottom: 0%;
	animation: animate3 0.5s linear infinite;
	animation-delay: 0.5s;
}

.pan4{
	display: block;
	position: absolute;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,#2196f3);
	left: 0;
	bottom: -100%;
	animation: animate4 0.5s linear infinite;
	animation-delay: 0.75s;
}

@keyframes animate1{
	0%{
		left: -100%;
	}

	50%,100%{
		left: 55%;
	}
}

@keyframes animate2{
	0%{
		top: -100%;
	}

	50%,100%{
		top: 50%;
	}
}

@keyframes animate3{
	0%{
		right: -100%;
	}

	50%,100%{
		right: 50%;
	}
}

@keyframes animate4{
	0%{
		bottom: -100%;
	}

	50%,100%{
		bottom: 100%;
	}
}

.wrapped_6{
	background-image: url(img_technology/7-1.jpg);
	height: 1000px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.text_11{
	text-align: center;
	padding-top: 5%;
	color: white;
}

.text_10{
	text-align: center;
	font-size: 35px;
	color: white;
	font-weight: bold;
}

.khuon_2{
	width: 100%;
	position: relative;
	box-sizing: border-box;
	padding: 0;
}

.khuon_2:before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #00000073;
	border-radius: 6px;
}

.img__2{
	width: 100%;
	height: 300px;
	border-radius: 6px;
	transition: 1s;
}

.gt{
	width: 100%;
	position: absolute;
	left: 5%;
	bottom: 2%;
}

.khuon_2:hover .img__2{
	transform: scale(1.1);
}

.tech{
	text-decoration: none;
	color: white;
	border-bottom: 1px solid white;
	display: inline-block;
	padding-bottom: 2%;
	font-size: 20px;
	margin-bottom: 2%;
	font-weight: bold;
}

.text_13{
	color: white;
}

.sales{
	color: white;
}

.icon_3{
	margin-right: 2%;
}

.sb_wr_6{
	margin-top: 2%;
}

.khuon_3{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5%;
}

.khuon_3 .all_pr{
	text-decoration: none;
	color: white;
	font-weight: bold;
	display: block;
	width: 200px;
	height: 50px;
	background: #091d3e;
	text-align: center;
	line-height: 50px;
	-webkit-box-reflect: below 1px linear-gradient(transparent,#091d3e87);
}

.all_pr:hover{
	background-color: white;
	color: #091d3e;
	font-weight: bold;
}


.slide_down{
	width: 100%;
}

.mui_ten{
	width: 30px;
	height: 30px;
	background-color: red;
	position: relative;
	margin-top: 5%;
	float: left;
	cursor: pointer;
}

.mui_ten:before{
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: -50%;
	left: 0;
	border-top: 15px solid transparent;
	border-right: 15px solid red;
	border-bottom: 15px solid transparent;
	border-left: 15px solid red;
}

.mui_ten:after{
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: 100%;
	left: 0;
	border-top: 15px solid red;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 15px solid transparent;
}

.text_16{
	display: inline-block;
    width: 90%;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 5%;
}

.text_17{
	width: 85%;
    margin: auto;
    text-align: justify;
    font-size: 14px;
    display: none;
}


.khuon_anh{
	width: 100%;
	position: relative;
}

.img__3{
	width: 90%;
	height: 400px;
	border-radius: 50%;
}

.sub_khuon_anh{
	width: 30%;
	height: 120px;
	background-color: red;
	border-radius: 50%;
	color: white;
	text-align: center;
	line-height: 120px;
	font-size: 65px;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	left: 0;
}

.wrapped_7{
	height: 700px;
	background-color: #091d3e;
}

.text_14{
	color: var(--mau_1);
	font-weight: bold;
}

.text_15{
	font-size: 25px;
	-webkit-text-stroke: 0.3px var(--mau_1);
	position: relative;
	text-transform: uppercase;
	margin-bottom: 10%;
}


.text_15:before{
	content: attr(data-text);
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left:0;
	color: var(--mau_1);
	overflow: hidden;
	animation: animatee 5s linear infinite;
}

@keyframes animatee{
	0%,10%,100%{
		width: 0%;
	}

	70%,90%{
		width: 100%;
	}
}


.text_16{
	-webkit-text-stroke: 0.4px var(--mau_1);
	font-weight: bold;
	color: white;
}

.text_17{
	color: #c3bababa;
}

/* End wrapped_7 */

.wrapped_8{
	height: 900px;
	padding: 5% 0;
	background: #07252d;
}

.languages{
	width: 30%;
	height: 50px;
	border: 2px solid gray;
	padding: 3%;
}

.laugu{
	text-align: center;
}

.text_18{
	color: white;
	text-align: center;
	font-weight: bold;
}

.text_19{
	-webkit-text-stroke: 0.4px white;
	font-size: 35px;
	font-weight: bold;
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 50%;
	margin: auto;
}

.text_19:before{
	content: attr(data-text);
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 5%;
	color:white;
	overflow: hidden;
	animation: animateee 5s linear infinite;
}

@keyframes animateee{
	0%,10%,100%{
		width: 0%;
}

	70%,90%{
		width: 100%;
	}
}

.text_20{
	color: white;
	text-align: center;
    font-weight: bold;
    margin: 3% 0;
    font-size: 25px;
}

.name_nn{
	color: gray;
	font-weight: bold;
	margin-top: 1%;
}

.wrapped_9{
	height: 900px;
	padding-top: 5%;
	background-color: #091d3e;
}

.img__4{
	width: 50%;
	height: 300px;
	border: 1px solid gray;
	box-shadow: 5px 5px 5px gray;
}

.text_23{
	color: white;
    text-align: center;
    font-weight: bold;
}

.ani_text_24{
	width: 100%;
	position: relative;
	margin: 10% 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.text_24{
	font-size: 50px;
    -webkit-text-stroke: 2px #088bed;
    font-weight: bold;
    position: absolute;
}

.text_25{
	font-size: 50px;
	color: var(--mau_1);
	font-weight: bold;
	position: absolute;
	animation: song 4s ease-in-out infinite;
}

@keyframes song
{
	0%,100%
	{
		clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
	}

	50%
	{
		clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
	}
}

.icon_client{
	color: white;
	font-size: 20px;
	margin-top: 3%;
	text-indent: 5px;
	margin-right: 5%;
}

.text_26{
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.text_22{
	-webkit-text-stroke: 0.9px var(--mau_1);
	text-align: justify;
}

.wrapped_10{
	height: 700px;
	padding-top: 5%;
	background-color: #00021b
}

.ten{
	display: block;
	margin: 2% 0;
	width:70%;
	border: 1px solid var(--mau_1);
	background-color: #00021b;
	color: white;
	-webkit-text-stroke: 0.9px var(--mau_1);
	height: 40px;
	line-height: 40px;
	outline: none;
}

#but_1{
	display: block;
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 6px;
	background-color: var(--mau_1);
	border: 1px solid var(--mau_1);
	color: white;
	font-weight: bold;
	-webkit-box-reflect: below 0.2px linear-gradient(transparent,#088bed96);
}

#but_1:hover{
	background-color: white;
	color: #00021b;
	font-weight: bold;
}

textarea{
	border: 1px solid var(--mau_1);
	color: white;
	background-color: #00021b;
	-webkit-text-stroke: 0.9px var(--mau_1);
	resize: none;
	outline: none;
	width: 70%;
}


.error{
	display: block;
	-webkit-text-stroke: 1px white;
	font-weight: normal;
}

.text_27{
	color: white;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    margin-bottom: 5%;
}


.footer{
	height: 400px;
	padding: 5% 0;
	background: linear-gradient(
90deg
, rgba(6,66,115,1) 0%, rgba(13,55,89,1) 35%, rgba(14,112,193,1) 100%);
}

.menu_ft{
	padding: 0 5%;
	color: white;
	font-size: 15px;
}

.sb_mn_ft{
	padding: 2% 0;
}

.sb_mn_ft a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.sb_mn_ft a:hover{
	color: black;
}


.text_28{
	color: white;
    font-weight: bold;
    font-size: 25px;
}

.rulerr{
	height: 2px;
}

.time_work{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2%;
}

.day{
	width: 30%;
	color: white;
}

.time{
	width: 65%;
	color:white;
}

.time:nth-child(2) {
	font-weight: bold;
}

.xa_hoi{
	text-decoration: none;
	display: inline-block;
	margin: 20% 2%;
}

.xh_icon{
	font-size: 50px;
	color: white;
	-webkit-box-reflect: below 0.2px linear-gradient(transparent,white);
}

.text_footer{
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 20px;
	background-color: #091d3e;
	height: 60px;
}

#chu{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	-webkit-box-reflect: below 0.2px linear-gradient(transparent,#ffffff54);
}

#backTop{
	width: 50px;
	height: 50px;
	background-color: white;
	font-size: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	position: fixed;
	top: 80%;
	right: 3%;
	z-index: 999999;
	color: black;
	display: block;
}

#text_logomo{
    font-size: 35px;
    margin-left: 2%;
    font-weight: bold;
    display: none;
}
#text_logomo2{
	color: white;
	display: none;
}
#logomo{
	font-size: 40px;
	color: white;
	display: none;
}

@media screen and (min-width: 992px) and (max-width: 1199px)
{
	.map_gg{
		width: 400px;
		height: 400px
	}

	.sb_header{
		padding: 0;
	}

	.pan0{
		left: 22%
	}

	.pan_one{
		left: 22%;
	}

	.text_mymenu{
		padding: 0 2%;
	}
	.text_mymenu_1{
		padding: 0 2%;
	}

	.wrapped_1{
		height: 485px;
	}

	.wrapped_1:after{
		top: 75%;
		left: 20%;
	}

	.tieu_De{
		font-size: 63px;
	}

	.icon_sv{
		font-size: 45px;
	}

	.text_2{
		font-size: 17px;
	}

	.dotss{
		top: 32%;
	}

	.text_3{
		padding: 7% 10%;
	}

	.wrapped_2{
		height: 700px;
	}

	.wrapped_3{
		height: 500px;
	}

	.left_1{
		padding-left: 0%
	}

	.right_1{
		padding-top: 6%;
	}

	.text_5{
		font-size: 60px;
	}

	.o_1{
		height: 200px;
	}

	.text_15{
		font-size: 23px;
	}

	.text_19{
		font-size: 30px;
	}

	.text_19:before{
		left: 4%;
	}

	.item{
		width: 75%;
		margin: auto;
	}

	.left{
		z-index: 22;
	}

	.right{
		z-index: 22;
	}

	.text_26{
		font-size: 15px;
	}
}/* 992-1199  */



@media screen and (min-width: 768px) and (max-width: 991px)
{

	.left{
		z-index: 22;
	}

	.right{
		z-index: 22;
	}

	.rp_menu{
		z-index: 9999;
		padding: 0;
	}

	.my_menu{
		width: 189%;
	    background: black;
	    height: 110vh;
	    padding: 0;
	    position: relative;
    	top: -6px;
    	left: -230%;
    	transition: 1s;
    	z-index: 222222;
	}

	

	.text_mymenu{
		clear: both;
		width: 100%;
		text-align: center;
	}

	.text_mymenu a{
		-webkit-text-stroke: 1px var(--mau_1);
		color: unset;
	}
	.text_mymenu_1{
		clear: both;
		width: 100%;
		text-align: center;
	}

	#show_company{
		margin-left: 2%;
	}

	.pan0{
		left: 25%
	}

	.pan_one{
		left: 25%;
	}

	.tieu_De{
		font-size: 50px;
	}

	.wrapped_1{
		height: 400px;
	}

	.wrapped_1:after{
		left: 11%;
		top: 40%;
	}

	.all{
		right: 1%;
	}

	.wrapped_2{
		height: 1300px;
	}

	.services{
		margin: 5% 0;
	}

	.tieu_de_2{
		width: 55%;
	}

	video{
		width: 390px;
		height: 390px;
	}

	.left_1{
		padding: 0;
	}

	.right_1{
		padding-top: 12%
	}

	.text_5{
		font-size: 35px;
	}

	.wrapped_3{
		height: 450px;
	}

	.text_7{
		font-size: 35px;
		z-index: 22222;
   		position: relative;
	}

	.wrapped_4{
		display: block;
		position: relative;
	}

	.left_2{
		width: 100%;
	}

	.chen{
		z-index: 2222;
	}

	.right_2{
		width: 100%;
		position: absolute;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

	.right_2:before{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #00000057;
	}

	.o_1{
		margin: auto;
	}

	.wrapped_6{
		height: 1300px;
	}

	.slide__down{
		margin-bottom: 2%;
	}

	.text_17{
		font-size: 12px;
		width: 75%;
	}

	.khuon_anh{
		margin-top: 25%;
	}

	.img__3{
		width: 80%;
		height: 270px;
	}

	.sub_khuon_anh{
		width: 25%;
		height: 80px;
		line-height: 80px;
	}

	.text_15{
		font-size: 17px;
	}

	.wrapped_7{
		height: 600px;
	}

	.languages{
		height: 60px;
	}

	.wrapped_8{
		height: 1100px;
	}

	.text_19{
		width: 80%;
	}

	.text_22{
		font-size: 15px;
	}

	.put_demo{
		display: flex;
		justify-content: center;
	}

	.ten{width: 100%}
	.ten_1{
		width: 100%;
	}

	.wrapped_10{
		height: 1000px;
	}

	.map_gg{
		width: 100%;
		height: 300px;
	}
	.gg_map{
		margin-top: 10%		
	}

	.xa_hoi{
		width: 45%;
		text-align: center;
		margin: 0;
	}

	.xhh{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		height: 235px;
		margin-top: 10%;
	}

	.day{
		width: 55%;
	}

	.time{
		width: 45%;
		margin-top: -5%;
		margin-bottom: 5%;
	}

	.footer{
		height: 500px
	}

	.tieu_de_2{
		font-size: 35px;
	}

	.khuong{
		margin-top: 10%;
	}

	.sub_menu{
		left: 60%;
		top: 60%;
	}

	.rp_menu{
		height: 0;
	}

	#text_logomo{
    display: inline;
	}
	#text_logomo2{
		display: inline;
	}
	#logomo{
		display: inline;
	}

	.sub_menu{
		 opacity: 0;
	}

}/* 768-991  */


@media screen and (min-width: 576px) and (max-width: 767px)
{
	.logo_contact{
		width: 40px;
		height: 40px;
		line-height: 40px;
	}

	.pan0{
		left: 25%;
		font-size: 15px
	}
	.pan_one{
		left: 25%;
		font-size: 13px;
		top: 9%;
	}

	#text_logomo{
    display: inline;
	}
	#text_logomo2{
		display: inline;
	}
	#logomo{
		display: inline;
	}

	.left{
		z-index: 22;
	}

	.right{
		z-index: 22;
	}

	.rp_menu{
		z-index: 9999;
		padding: 0;
		height: 0;
	}

	.my_menu{
		width: 181%;
	    background: black;
	    height: 110vh;
	    padding: 0;
	    position: relative;
    	top: -6px;
    	left: -230%;
    	transition: 1s;
    	z-index: 2222222;
	}

	.text_mymenu{
		clear: both;
		width: 100%;
		text-align: center;
	}

	.text_mymenu a{
		-webkit-text-stroke: 1px var(--mau_1);
		color: unset;
	}

	.text_mymenu_1{
		clear: both;
		width: 100%;
		text-align: center;
	}

	.chen{
		z-index: 2222;
	}


	#show_company{
		margin-left: 2%;
	}

	.khuong{
		margin-top: 16%;
	}

	.wrapped_1{
		display: block;
		height: 600px;
	}

	.left{
		width: 100%;
		text-align: center;
	}
	.right{
		width: 75%;
		position: relative;
		top: -20%;
		left: 0;
	}

	.tieu_De{
		font-size: 50px;
		position: relative;
		z-index: 222;
	}

	.text_1{
		position: relative;
		z-index: 222;
	}

	.follow{
		margin: auto;
		position: relative;
		z-index: 222;
	}

	.wrapped_1:after{
		border-top: 150px solid transparent;
	    border-right: 150px solid transparent;
	    border-left: 150px solid transparent;
	    border-bottom: 150px solid transparent;
	    left: 0%;
	    top: 0%;
	}

	.sub_wr_2{
		flex-wrap: wrap;
		text-align: center;
	}

	.tieu_de_2{
		width: 100%;
	}

	.all{
		position: unset;
		margin: auto;
		margin-top: 5%;
	}

	.chuw{
		width: 75%;
		margin:auto;
		margin-bottom: 5%;
	}

	.wrapped_2{
		height: 2400px;
	}

	.wrapped_3{
		display: block;
		height: 655px;
	}

	.left_1{
		width: 100%;
		padding-left: 0%;
		padding-top: 5%;
	}
	.right_1{
		width: 100%;	
		text-align: center;
	}

	video{
		width: 100%;
	}

	.text_5{
		font-size: 40px;
	}

	.wrapped_4{
		display: block;
		position: relative;
		height: 785px;
		padding-top: 5%;
	}

	.o_1{
		margin:auto;
		position: relative;
		z-index: 222;
	}

	.left_2{
		width: 100%;
	}

	.right_2{
		width: 50%;
		position: absolute;
		top: 0;
		right: 0;
	}

	.ideal{
		display: block;
	    width: 60%;
	    margin: auto;
	    margin-bottom: 15%;
	}

	.wrapped_5{
		height: 670px;
	}

	.wrapped_6{
		height: 2200px;
	}

	.text_19{
		width: 100%;
	}

	.text_19:before{
		left: 1%;
	}

	.text_20{
		margin: 7% 0;
	}

	.languages{
		width: 40%;
		height: 100px;
	}

	.wrapped_8{
		height: 1880px;
	}

	.text_24{
		font-size: 35px;
	}
	.text_25{
		font-size: 35px;
	}

	.map_gg{
		width: 100%;
		height: 250px;
	}

	.gg_map{
		margin-top: 15%;
	}

	.wrapped_10{
		height: 950px;
	}

	.put_demo{
		display: flex;
		justify-content: center;
	}
	.ten{width: 100%}

	.ten_1{
		width: 100%;
	}

	.item{
		width: 75%;
    	margin: auto;
	}

	.xa_hoi{
		margin: 5% 0 0 0;
	}

	.xhh{
		text-align: center;
	}

	.footer{
		height: 460px;
	}

	.text_2{
		padding-top: 30%;
	}

	.sub_menu{
		 opacity: 0;
	}

}/* 576 - 767 */

@media screen and (max-width: 575px)
{

	.header{
		height: 150px;
		line-height: 75px;
	}
	.logo_contact{
		width: 30px;
		height: 30px;
		line-height: 30px;
		margin-left: 7%;
	}

	.pan0{
		left: 23%;
		font-size: 11px
	}
	.pan_one{
		left: 23%;
		font-size: 11px;
		top: 5%;
	}

	.menu{
		height: 60px;
		line-height: 60px;
	}

	#text_logomo{
    	display: inline;
    	font-size: 25px;
	}
	#text_logomo2{
		display: inline;
		font-size: 25px;
	}
	#logomo{
		display: inline;
		font-size: 25px;
	}

	.left{
		z-index: 22;
	}

	.right{
		z-index: 22;
	}

	.rp_menu{
		z-index: 9999;
		padding: 0;
		height: 0;
	}

	.my_menu{
		width: 181%;
	    background: black;
	    height: 110vh;
	    padding: 0;
	    position: relative;
    	top: -6px;
    	left: -230%;
    	transition: 1s;
    	z-index: 22222222;
	}

	.text_mymenu{
		clear: both;
		width: 100%;
		text-align: center;
	}

	.text_mymenu a{
		-webkit-text-stroke: 1px var(--mau_1);
		color: unset;
	}
	
	.text_mymenu_1{
		clear: both;
		width: 100%;
		text-align: center;
	}

	.sub_menu{
		 opacity: 0;
	}

	#show_company{
		margin-left: 2%;
	}

	.khuong{
		margin-top: 16%;
	}

	.chen{
		z-index: 2222;
	}


	.wrapped_1{
		display: block;
		height: 490px;
		padding-top: 5%;
	}

	.icon_sv{
		top: 5%;
	}

	.left{
		width: 100%;
		text-align: center;
	}
	.right{
		width: 75%;
		position: relative;
		top: -20%;
		left: 0;
	}

	.tieu_De{
		font-size: 35px;
		position: relative;
		z-index: 222;
	}

	.text_1{
		position: relative;
		z-index: 222;
	}

	.text_2{
		padding-top: 30%;
		font-size: 15px;
	}

	.text_3{
		font-size: 10px;
	}

	.follow{
		margin: auto;
		position: relative;
		z-index: 222;
	}

	.wrapped_1:after{
		border-top: 150px solid transparent;
	    border-right: 150px solid transparent;
	    border-left: 150px solid transparent;
	    border-bottom: 150px solid transparent;
	    left: 0%;
	    top: 0%;
	}

	.sub_wr_2{
		flex-wrap: wrap;
		text-align: center;
	}

	.tieu_de_2{
		width: 100%;
		font-size: 35px;
		font-weight: bold;
	}

	.all{
		position: unset;
		margin: auto;
		margin-top: 5%;
	}

	.chuw{
		width: 75%;
		margin:auto;
		margin-bottom: 5%;
	}

	.wrapped_2{
		height: 1580px;
		padding-top: 5%;
	}

	.wrapped_3{
		display: block;
		height: 560px;
	}

	.left_1{
		width: 100%;
		padding-left: 0%;
		padding-top: 5%;
	}
	.right_1{
		width: 100%;	
		text-align: center;
	}

	.dotss{
		top: 28%;
		display: none;
	}

	video{
		width: 100%;
		height: 230px;
	}

	.text_5{
		font-size: 40px;
	}

	.text_6{
		font-size: 13px;
	}

	.text_7{
		font-size: 30px;
	}

	.numberr{
		font-size: 25px;
	}

	.wrapped_4{
		display: block;
		position: relative;
		height: 560px;
		padding-top: 5%;
	}

	.o_1{
		margin:auto;
		position: relative;
		z-index: 222;
		height: 149px;
	}

	.left_2{
		width: 100%;
	}

	.right_2{
		width: 50%;
		position: absolute;
		top: 0;
		right: 0;
	}

	.right_2 .imgIT{
		width: 80%;
		height: 550px;
	}

	.text_8{
		font-size: 30px;
	}

	.text_10{
		font-size: 30px;
	}

	.ideal{
		display: block;
	    width: 60%;
	    margin: auto;
	    margin-bottom: 15%;
	}

	.tech{
		font-size: 18px;
	}

	.wrapped_5{
		height: 670px;
	}

	.wrapped_6{
		height: 2200px;
	}

	.text_16{
		width: 80%;
		font-size: 10px;
	}

	.slide__down{
		margin-bottom: 5%;
	}

	.text_15{
		font-size: 15px;
	}


	.text_19{
		width: 100%;
		font-size: 19px;
		color: white;
		font-weight: bold;
	}

	.text_19:before{
		left: 1%;
		display: none;
	}

	.text_20{
		margin: 7% 0;
		font-size: 15px;
	}

	.languages{
		width: 100px;
		height: 100px;
	}

	.wrapped_8{
		height: 3050px;
	}

	.text_24{
		font-size: 18px;
	}
	.text_25{
		font-size: 18px;
	}

	.text_26{
		font-size: 13px;
	}

	.map_gg{
		width: 100%;
		height: 250px;
	}

	.gg_map{
		margin-top: 15%;
	}

	.wrapped_10{
		height: 1000px;
	}

	.put_demo{
		display: flex;
		justify-content: center;
	}
	.ten{
		width: 80%;
    	margin: auto;
	}

	.ten_1{
		width: 80%;
		margin: auto;
		display: block;
	}

	.error{
		width: 80%;
		margin: auto;
		box-sizing: border-box;
	}

	#but_1{
		margin: auto;
		margin-top: 5%;
		margin-bottom: 2%;
	}

	.item{
		width: 75%;
    	margin: auto;
	}

	.xa_hoi{
		margin: 5% 0 0 0;
	}

	.xhh{
		text-align: center;
	}

	.xhh_0{
		text-align: center;
	}

	.menu_ft{
		list-style: none;
	}

	.rulerr{
		width: 40%;
		margin: auto;
		margin-top: 3%;
		margin-bottom: 3%;
	}

	.text_footer{
		height: 50px;
		line-height: 50px;
	}

	#chu{
		font-size: 9px;
	}

	.footer{
		height: 750px;
	}

	.ani_text_24{
		margin: 15% 0;
	}
}



















