#show {
	color: #007bff;
}
#show:hover {
	text-decoration: underline;
	cursor: pointer;
}
#hide{
	color: #007bff;
}
#hide:hover {
	text-decoration: underline;
	cursor: pointer;
}
#show1 {
	color: #007bff;
}
#show1:hover {
	text-decoration: underline;
	cursor: pointer;
}
#hide1{
	color: #007bff;
}
#hide1:hover {
	text-decoration: underline;
	cursor: pointer;
}
#show2 {
	color: #007bff;
}
#show2:hover {
	text-decoration: underline;
	cursor: pointer;
}
#hide2{
	color: #007bff;
}
#hide2:hover {
	text-decoration: underline;
	cursor: pointer;
}
#show3 {
	color: #007bff;
}
#show3:hover {
	text-decoration: underline;
	cursor: pointer;
}
#hide3{
	color: #007bff;
}
#hide3:hover {
	text-decoration: underline;
	cursor: pointer;
}
#show4 {
	color: #007bff;
}
#show4:hover {
	text-decoration: underline;
	cursor: pointer;
}
#hide4{
	color: #007bff;
}
#hide4:hover {
	text-decoration: underline;
	cursor: pointer;
}
#show5 {
	color: #007bff;
}
#show5:hover {
	text-decoration: underline;
	cursor: pointer;
}
#hide5{
	color: #007bff;
}
#hide5:hover {
	text-decoration: underline;
	cursor: pointer;
}