
*{
	box-sizing: border-box;
}
body{
  background: #fff;
  color: #666666;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}

.wt{
	font-family: Garamond; 
}
li a, button a {
  color: white !important;
  transition: 0.5s;
}
a:hover{
  text-decoration: none;
}
li a:hover{
  color: #18d36e !important;
  outline: none;
  text-decoration: none;
}
#about{
  padding-top: 80px;
}
#album{
  padding-top: 80px;
}
#single{
  padding-top: 80px;
}
#award{
  padding-top: 80px;
}
#team{
  padding-top: 80px;
}
#contact{
  padding-top: 80px;
  margin-bottom: 40px;
}

.txt{
	width: 120px !important;
}
.bg{
	height: auto;
	position: relative;
}
.bg img{
	height: 100%;
  filter:brightness(40%);
}
img{
  width: 100%;
}
.caption{
	position: absolute;
	bottom: 155px;
}
.btn-cl{
	border-radius: 30px;
}
.btn-cl:hover {
  background: #66666673;
}

.infor{
	font-size: 22px;
}
.cl{
  border-radius: 10px;
	background-color:  #18d26e !important;
	color: white;
}
.cl:hover {
  background: white !important;
}
.cl:hover a{
  color: #18d26e !important;

}
/*
@-webkit-keyframes rotate360 {
	100% { -webkit-transform: rotate(360deg); }
}
 
@-moz-keyframes rotate360 {
	100% { -moz-transform: rotate(360deg); }
}
 
@-ms-keyframes rotate360 {
	100% { -ms-transform: rotate(360deg); }
}
 
@-o-keyframes rotate360 {
	100% { -o-transform: rotate(360deg); }
}
 
@keyframes rotate360 {
	100% { transform: rotate(360deg); }
}
img{
	width: 100%;
}

 
.rotate360 {
	-webkit-animation-name: rotate360;
	-moz-animation-name: rotate360;
	-ms-animation-name: rotate360;
	-o-animation-name: rotate360;
	animation-name: rotate360;
 
	-webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	-ms-animation-duration: 4s;
	-o-animation-duration: 4s;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}*/
/*.test {
  animation: color-change 3s infinite;
}*/

/*@keyframes color-change {
  0% { color: red; }
  50% { color: blue; }
  100% { color: red; }
}*/
#accordion .panel{
    border: none;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    padding-left: 40px;
    margin-bottom: 10px;
}
#accordion .panel-heading{
    padding: 0;
}
#accordion .panel-title button{
    display: block;
    padding: 15px;
    background: #fff;
    font-size: 15px;
    font-weight: bold;
    color: #18d26e;
    text-transform: uppercase;
    border: 2px solid #18d26e;
    border-left: none;
    border-radius: 0 8px 8px 0;
    box-shadow: none;
    position: relative;
    transition: all 0.3s ease 0s;
    width: -webkit-fill-available;
}
#accordion .panel-title button span{
    display: block;
    width: 40px;
    height: 110%;
    line-height: 70px;
    background: #18d26e;
    font-size: 16px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: -2px;
    left: -40px;
}
#accordion .panel-title button span:before,
#accordion .panel-title button span:after{
    content: "";
    border-top: 20px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    left: 0;
}
#accordion .panel-title button span:before{
    top: -1px;
}
#accordion .panel-title button span:after{
    border-top-color: #18d26e;
    bottom: -20px;
    z-index: 1;
}
#accordion .panel-body{
    font-size: 14px;
    color: #808080;
    line-height: 23px;
    border-top: none;
}
#accordion .panel-body p{
    margin-bottom: 0;
}
a.on_top { opacity:0.6; display: none;}
a.on_top:hover{
background-color: #18d26e;
color: #fff;
border: 1px solid #18d26e;
opacity:1;
}
a.on_top i{ font-size: 20px;}
a.on_top {
  display: inline-block;
border-radius: 6px;
background-color: #333333;
padding: 10px 20px;
white-space: nowrap; color: #fff;
position: fixed;
bottom: 20px;
right: 30px;
height: 44px;
}
#mv, #single{
  background: #F0FFF0;
}
.cap{
  position: absolute;
  bottom: 90px;
}

.box{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  padding: 0;
}
img{
  width: 100%;
}
.view{
  height: auto;
  position: relative;
}
.view img{
  height: 100%;
  filter:brightness(50%);
}
.yt{
  font-size: 65px;
  color: red;

}
.blog .carousel-indicators {
  left: 0;
  top: auto;
    bottom: -40px;

}


/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}
.image:hover {
-webkit-transform: rotate(45deg); transform: rotate(45deg);
}
.image {
-webkit-transition: all 0.7s ease; transition: all 0.7s ease;
}
.hv:hover .img {
-webkit-transform:scale(1.3); transform:scale(1.3);
}
.hv {
overflow:hidden;
}
.img {
-webkit-transition: all 0.7s ease; transition: all 0.7s ease;
}
.carou{
  bottom: -30px !important;
}
.carou li{
  background:#89b776!important;
  width: 10px !important;
  height: 10px !important;
}
.carou .active {
    background: #55bb21 !important;
}
#blogCarousel{
  margin-bottom: 35px;
}
.wd{
  border-radius: 20px;
}
.txt{
  display: flex;
  align-items: center;
  justify-content: center;
}
.spo{
  font-size: 65px;
  color: #1DB954;

}


.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #E8A723;
}
.counter-Txt{
  background-color:#f5f5f5;
  padding: 25px 0;
  border-radius: 5px;
  text-align:center; 
  font-size:20px; font-weight:bold; 
  text-transform:uppercase;
   margin-top:20px;
 }
.counter-Txt span{
  display:block;
   font-size:36px}

.gr{
   filter:brightness(70%);
}
.title {
   padding: 10px 12px;
   text-align: center;
   font-size: 22px;
   color: #212121;
}
.content{
   margin: auto;
}
img.hinh {
   width: 30%;
   margin: 10px;
   height: auto;
   border-radius: 7px;
}
.aw{
   margin: auto;
   margin-top:20px;
   display: flex;
   justify-content: space-between;
}
.aw li {
   list-style: none;
   background: #fff;
   color: #212121;
   padding: 10px 12px;
   font-size: 16px;
   cursor: pointer;
   box-shadow: 3px 5px 5px rgb(0,0,0,0.23);
   border-radius: 2px;
   margin: 7px;
}.aw li:hover{
   color: #1DB954; 
}
#team {
  background: #F0FFF0;
  padding-bottom: 30px; 
}

#team .section-header {
  margin-bottom: 40px;
}

#team .testimonial-item {
  text-align: center;
}

#team .testimonial-item .testimonial-img {
  width: 200px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

#team .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

#team .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
}

#team .testimonial-item .quote-sign-left {
  margin-top: -15px;
  padding-right: 10px;
  display: inline-block;
  width: 37px;
}

#team .testimonial-item .quote-sign-right {
  margin-bottom: -15px;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  width: 37px;
}

#team .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

@media (min-width: 992px) {
  #team .testimonial-item p {
    width: 80%;
  }
  

}
@media (max-width: 992px) {
  h1, h2 {
    font-size: 2rem;
  }
  h3{
    font-size: 1.6rem;
  }
  body{
    font-size: 95%;
  }
  button{
    font-size: 90%!important;
  }
  .navbar-toggler{
    background: white;
  }
  #mynav a img{
    width: 90%;
  }
  .caption {
    bottom: 110px;
  }
  p{
    font-size: 95%;
  }
  .yt{
    font-size: 45px;
  }
  .cap {
    bottom: 40px;
}
img.hinh {
    width: 34%;
    }
    .spo {
    font-size: 50px;
  }
  #team .testimonial-item .testimonial-img {
    width: 190px;
  }
}
@media (max-width: 768px){
  #mynav a img {
    width: 68%;
}
 h1, h2 {
    font-size: 1.70rem;
  }
 h3, h4 {
    font-size: 1.2rem;
}
  .infor {
    font-size: 19px;
}
button{
    font-size: 80%!important;
  }
  #accordion .panel-title button {
    padding: 7px;
  }
  .caption {
    bottom: 70px;
}
.cap {
    bottom: 35px;
}
.yt {
    font-size: 40px;
}
.form-control {
    font-size: 0.65rem;
  }
  .my-2{
    font-size: 0.75rem;
  }

}
@media (max-width: 576px){
  .col{
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .hv {
    align-items: center;
    justify-content: center;
    display: flex;
}
#mynav a img {
    width: 65%;
}
.img{
  width: 70%;
}
h1, h2{
  font-size: 1.25rem;
}
 h3, h4 {
    font-size: 1rem;
}

button{
    font-size: 80%!important;
  }
  #accordion .panel-title button {
    padding: 7px;
  }
  .caption {
    bottom: 27px;
}
.infor {
    font-size: 17px;
}
.cap {
    bottom: 15px;
}
.yt {
    font-size: 36px;
}
.form-control {
    font-size: 0.6rem;
  }
  .my-2{
    font-size: 0.75rem;
  }
}

#team .owl-nav, #testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}
.snip1401 {
  font-family: 'Playfair Display', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  min-width: 230px;
  max-width: 315px;
  max-height: 220px;
  width: 100%;
  color: #000000;
  text-align: right;
  font-size: 16px;
  background-color: #000000;
}
.snip1401 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1401 img {
  max-width: 100%;
  backface-visibility: hidden;
}
.snip1401 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  padding: 30px 0 30px 10px;
  background-color: #ffffff;
  width: 40%;
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
}
.snip1401 figcaption:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 100%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 120px 0;
  border-color: transparent #ffffff transparent transparent;
}
.snip1401:after {
  position: absolute;
  bottom: 50%;
  right: 40%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 0 120px;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1401 h3,
.snip1401 p {
  line-height: 1.5em;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  margin: 0;
}
.snip1401 h3 {
  margin: 0 0 5px;
  line-height: 1.1em;
  font-weight: 900;
  font-size: 1.4em;
  opacity: 0.75;
}
.snip1401 p {
  font-size: 0.8em;
}
.snip1401 i {
  bottom: 0;
  font-size: 30px;
  opacity: 0;
}
.snip1401 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1401:hover img,
.snip1401.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
.snip1401:hover:after,
.snip1401.hover:after,
.snip1401:hover figcaption,
.snip1401.hover figcaption,
.snip1401:hover i,
.snip1401.hover i {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
iframe{
  margin-bottom: 20px;
}
#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #18d26e;
}

#contact .contact-info address, #contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

.contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

.contact-info a {
  color: #000;
}
.form-message{
  font-size: 12px;
  color: red;
}

.contact-info a:hover {
  color: #18d26e;
}

.contact-address, .contact-phone, .contact-email {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .contact-address, .contact-phone, .contact-email {
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}
#contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#contact .php-email-form input, #contact .php-email-form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#contact .php-email-form input::focus, #contact .php-email-form textarea::focus {
  background-color: #18d26e;
}

#contact .php-email-form button{
  background: #18d26e;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#contact .php-email-form button:hover{
  background: #13a456;
}
footer{
  background: #3e443e;
}
.bottom{
  padding: 50px 0;
}
.bottom span{
  cursor: pointer;
}

