.section2 {
	background: #f7f7f7;
	width: 100%;
	box-sizing: border-box;
	padding-top: 80px;
}
.img_about {
	background-image: url("../img/phong.png");
	height: 250px;
	width: 100%;
	position: relative;
}
.img_about1 {
	position: absolute;
}
.item_number{
	text-align: center;
	color: white;
    font-size: 45px;
    color: orange;
}
.i {
	font-size: 50px;
	color: #ffa500ab;
	box-sizing: border-box;
	padding-top: 45px;
}
.h2 {
	text-shadow: 0 0 5px #ffc0c0;
}
