
.design1 {
	/*box-sizing: border-box;*/
    top: 150px;
}
.lear {
	margin-right: 30px;
	background-color: #e5c31f;
	box-sizing: border-box;
	padding: 10px 35px;
	border-radius: 5px;
    cursor: pointer;
}
.card-top {
	padding-top: 70px;
}
.nut {
	padding-top: 60px;
}
.fb {
	padding-bottom: 50px;
}

