section h3, section p {
  color: gray; }
section p{
  font-size: 17px;
}
img {
  width: 100%;
  height: 100%; }

#aboutUs {
  background-color: #f5f6fa;
  height: auto;
  padding: 65px 0; 
  padding-bottom: 0px;
  }
  #aboutUs img {
    width: 70%;
    border: 10px solid white; }

.ke {
  width: 50px;
  height: 2px;
  background-color: #FD9638;
  margin: 20px auto; 
}
#couter{
  margin-top: 50px;
  height: auto;
  padding:70px 0px;
  background-color: #000000;
  );
  box-sizing: border-box;
}
#couter .counter,#couter span{
  font-size: 30px;
  color: #FD9638;
}
#couter h5{
  font-size: 20px;
  color: white;
}
#couter a{
  font-size: 40px;
}

