/*==================================*/
section{
	padding-top: 100px;
}
/*====================*/
#flag1{
	width: 75%;
	margin: 0 auto;
	height: auto;
}
#title-fl1>div{
	font-size: 45px;
	font-weight: bold;
	color: #1f2345;
}
#title-fl1>div:after{
	content: " Article";
	color: #6b7b8c;
}
#btn-fl1{
	display: flex;
}
#btn-fl1>a{
	border-radius: 0;
	color: #08BDD4;
	background-color: white;
	border: 1px solid #08BDD4;
}
#btn-fl1>a:hover{
	color: white;
}
#btn-fl1>.hvr-rectangle-out:before{
	background-color: #08BDD4;
}
#list-content-fl1{
	margin-top: 50px;
}
.content-fl1>.img-fl1{
	position: relative;
}
.content-fl1 .img-fl1>img{
	width: 100%;
	height: 200px;
}
.content-fl1 .img-fl1>.more-img{
	position: absolute;
	top: 0;
	background-color: rgb(255 255 255 / 70%);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #1F2232;
	display: none;
}
.content-fl1 .img-fl1>.animate__zoomIn{
	animation-duration: 0.5s;
}
.content-fl1 .img-fl1 .more-img>i{
	font-size: 50px;
}
.content-fl1>.title-img-fl1{
	background-color: #F4F6F7;
}
.title-img-fl1>.describe-img-fl1{
	width: 90%;
	margin: 0 auto;
	padding-top: 15px;
	color: #76767B;
}
.describe-img-fl1>p{
	float: left;
	font-size: 15px;
}
.describe-img-fl1>.describe-top-icon{
	float: right;
}
.describe-img-fl1 .describe-top-icon>i{
	font-size: 15px;
	cursor: pointer;
}
.describe-img-fl1 .describe-top-icon>:first-child{
	color: #97A9B5;
	text-decoration: none;
}
.describe-img-fl1 .describe-top-icon>:first-child:hover{
	color: #08BDD4;
}
.describe-img-fl1 .describe-top-icon>:first-child:after{
	content: " 0";
	font-weight: normal;
	padding-right: 10px;
	padding-left: 5px;
	border-right: 1px solid #97A9B5;
	margin-right: 10px;
}
.describe-img-fl1 .describe-top-icon>:last-child{
	color: red;
	text-decoration: none;
}
.describe-img-fl1 .describe-top-icon>:last-child:after{
	content: " 9";
	font-weight: normal;
	padding-left: 5px;
}
.describe-img-fl1 .describe-top-icon>:last-child:hover{
	color: #3C3850;
}

.describe-mid{
	margin-top: 0;
}
.describe-mid>a{
	text-decoration: none;
	color: #1F2232;
	font-weight: bold;
	font-size: 20px;
}
.describe-mid>a:hover{
	color: #08BDD4;
}
.describe-mid>a:after{
	content: " NEWS";
	font-weight: 100;
	font-family: 'Rajdhani', sans-serif;
	font-size: 22px;
	color: #76767B;
}
.describe-mid>p{
	text-align: justify;
	margin-top: 5px;
	font-size: 15px;
}

.describe-bot{
	margin-top: 40px;
	margin-bottom: 20px;
}
.describe-bot>i{
	font-size: 33px;
	margin-right: 15px;
}
.describe-bot>i:hover{
	color: #1F2232;
	cursor: pointer;
}
.describe-bot>a{
	border: 1px solid #08BDD4;
	font-size: 15px;
	padding: 2px 20px;
	font-weight: bold;
	color: #08BDD4;
	border-radius: 3px;
	text-decoration: none;
}
.describe-bot>a:hover{
	color: white;
	background-color: #08BDD4;
}



/*====================*/
#flag2{
	width: 100%;
	margin-top: 150px;
	background-color: #0D2241;
	/*margin-bottom: 75px;*/
}
#flag2>div{
	margin: 0 auto;
	width: 70%;	
	padding-top: 60px;
}
#intro-fl2{
	padding-left: 0;
	line-height: 0;
}
#intro-fl2>video{
	width: 100%;
	height: 400px;
	object-fit: cover;
	z-index: 2;
}
#control-video-fl2{
	color: white;
}
#control-video-fl2>p{
	text-align: center;
	font-size: 20px;
}
#control-video-fl2>h1{
	text-align: center;
	font-weight: bold;
	/*background: red;*/
	width: 90%;
	margin: 0 auto;
	font-size: 44px;
	margin-top: 50px;
}
#control-video-fl2>div{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
#control-video-fl2 div>button{
	width: 70px;
	height: 70px;
	border-color: black;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: red;
	box-shadow: inset 0px 0px 10px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
}
#control-video-fl2 div button>i{
	font-size: 30px;
	position: absolute;
	color: white;
}
#play-intro{
	z-index: 2;
}
#pause-intro{
	z-index: 1;
}
#control-video-fl2 div button>div{
	position: absolute;
	width: 130px;
	height: 130px;
	border: 2px solid white;
	border-radius: 50%;
	animation-name: intro;
	animation-duration: 2s;
	animation-direction: normal;
	animation-delay: 0;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes intro{
	0%{
		transform: scale(0.6);
		box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
		opacity: 1;
	}
	100%{
		transform: scale(1);
		box-shadow: none;
		opacity: 0;
	}
}



/*====================*/
#flag3{
	position: relative;
}
#main-fl3{
	width: 75%;
	margin: 0 auto;
	padding: 100px 0;
}
#img-fl3>img{
	width: 100%;
	height: 600px;
}
#list-cout{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.cout-left, .cout-right{
	width: 150px;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: #0D2241;
	color: white;
}
.cout-left{
	float: right;
}
.cout-right{
	float: left;
}
#cout1{
	margin: 0 20px 20px 0;
}
#cout2{
	margin: 20px 20px 0 0;
}
#cout3{
	margin: 0 0 20px 20px;
}
#cout4{
	margin: 20px 0 0 20px;
}
.cout-left, .cout-right>h1{

}











/*====================*/
#flag4{
	background-color: #0D2241;
	padding: 100px 0;
}
#box-fl4{
	width: 75%;
	margin: 0 auto;
	/*background-color: gray;*/
	color: white;
}
#box-fl4>p{
	text-align: center;
	font-weight: bold;
	color: #0085EF;
}
#box-fl4>p:after{
	content: "--";
	margin-left: 10px;
}
#box-fl4>p:before{
	content: "--";
	margin-right: 10px;
}
#box-fl4>h1{
	text-align: center;
	font-size: 60px;
	margin-bottom: 40px;
	font-family: 'Roboto', sans-serif;
}
.square-fl4{
	width: 140px;
	height: 140px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.square-fl4>i{
	color: #0085EF;
	font-size: 40px;
}
.title-fl4{
	width: 140px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 15px;
}
.text-fl4{
	width: 115px;
	text-align: center;
	margin: 0 auto;
	font-size: 14px;
}
#square-top-fl4{
	background-color: unset;
	flex-direction: column;
	margin: 0 auto;
}
#square-top-fl4>.title-fl4{
	padding-top: 0;
}
#square-bot-fl4{
	background-color: unset;
	border: 3px solid #0085EF;
	margin: 0 auto;
}
.arrow-fl4{
	font-size: 20px;
	color: #0085EF;
}



#flag5{
	padding: 100px 0;
}
#flag5>p{
	text-align: center;
	font-weight: bold;
	color: #0085ef;
}
#flag5>p:before{
	content: "--";
	margin-right: 15px;
}
#flag5>p:after{
	content: "--";
	margin-left: 15px;
}
#flag5>h1{
	text-align: center;
	margin-bottom: 50px;
	font-size: 50px;
	font-family: 'Roboto', sans-serif;
	color: #061E3F;
}
#flag5>div:last-child{
	display: flex;
	justify-content: center;
}
#flag5>div:last-child a{
	border: 1px solid #0085EF;
	padding: 10px 30px;
	color: #061E3F;
	text-decoration: none;
}
#flag5>div:last-child a i{
	font-size: 14px;
	margin-left: 10px;
}
#box-fl5{
	width: 85%;
	margin: 0 auto;
	margin-bottom: 50px;
}
.square-fl5{
	position: relative;
}
.text-fl5{
	position: absolute;
	bottom: 10%;
	background-color: rgb(255 255 255 / 70%);
}
.text-fl5>p{
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	margin: 5px 0;
	color: #0085ED;
}
.text-fl5>h5{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin: 5px 0;
	color: #0E2340;
}
.square-top-fl5>.text-fl5{
	width: 95.3%;
}
.square-bot-fl5>.text-fl5{
	width: 93.8%;
}
.square-bot-fl5 .text-fl5>p{
	font-size: 12px;
}
.square-bot-fl5 .text-fl5>h5{
	font-size: 16px;
}
.icon-fl5{
	position: absolute;
	color: white;
	top: 10px;
	right: 20px;
	width: 30px;
	height: 30px;
	background-color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
}
.icon-fl5>i{
	z-index: 1;
}
.more-fl5{
	position: absolute;
	background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
	top: 0;
	color: white;
}
.square-top-fl5>.more-fl5{
	width: 95.3%;
	height: 100%;
}
.square-top-fl5 .more-fl5>div{
	width: 80%;
	text-align: justify;
	margin: auto;
	height: 80%;
	padding-top: 50px;
	overflow: hidden;
}
.square-bot-fl5>.more-fl5{
	width: 93.5%;
	height: 100%;
}
.square-bot-fl5 .more-fl5>div{
	width: 80%;
	height: 82.3%;
	text-align: justify;
	margin: auto;
	padding-top: 40px;
	overflow: hidden;
}
.square-fl5 a>img{
	width: 100%;
}
.square-top-fl5{
	margin-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}
.square-bot-fl5{
	margin-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}
.img-topp-fl5{
	height: 280px;
}
.img-bott-fl5{
	height: 200px;
}




#flag6{
	background-color: #008DED;
}
#box-fl6{
	width: 75%;
	margin: 0 auto;
	color: white;
}
#box-fl6>div:first-child{
	padding: 100px 0;
}
#box-fl6>div:first-child>p{
	width: 80%;
	margin: 0 auto;
	font-weight: bold;
}
#box-fl6>div:first-child>p:before{
	content: "--";
	margin-right: 15px;
}
#box-fl6>div:first-child>p:after{
	content: "--";
	margin-left: 15px;
}
#box-fl6>div:first-child>h1{
	width: 80%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	margin-top: 15px;
}
#bg-fl6{
	background-color: rgb(255 255 255 / 5%);
	height: 660px;
}
#avatar-fl6{
	position: relative;
}
#avatar-fl6>img:first-child{
	width: 400px;
	height: 400px;
	border-radius: 50%;
}
#avatar-fl6>img:last-child{
	position: absolute;
	width: 150px;
	height: 150px;
	bottom: 0;
	left: 0px;
	border-radius: 50%;
}
#list-question-fl6{
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
}
.question-fl6{
	background-color: #009DF3;
	line-height: 1;
	margin-bottom: 15px;
}
.question-fl6>span{
	float: left;
	margin: 20px 15px 0px 20px;
	font-weight: bold;
}
.question-fl6>.title-fl6{
	float: left;
	margin: 20px 0 0px 0;
	font-weight: bold;
}
.question-fl6>.more-fl6{
	float: right;
	margin: 10px 10px 0 0;
	background-color: white;
	border: none;
}
.question-fl6 .more-fl6>i{
	font-size: 16px;
	padding: 10px 12px;
}
.question-fl6>.detail-fl6{
	padding: 10px 20px 20px 20px;
	font-size: 15px;
}
.avt-fl6{
	display: flex;
}



#flag7{
	background-color: #0D2241;
	padding: 100px 0;
}
#box-fl7{
	width: 75%;
	margin: 0 auto;
}
#form-info>form{
	width: 70%;
	margin: 0 auto;
}
#form-info form>input{
	width: 100%;
	height: 50px;
	margin: 10px 0;
	border-radius: 5px;
	padding: 0 15px;
	border: 1px solid #808080;
	background-color: unset;
	color: white;
	outline: none;
}
#form-info form>input::placeholder{
	color: white;
	font-size: 15px;
}
#form-info form>input:focus{
	border: 3px solid #008DED;
}
#form-info form>textarea{
	width: 100%;
	height: 150px;
	margin: 10px 0;
	border-radius: 5px;
	padding: 15px 0 0 15px;
	border: 1px solid #808080;
	background-color: unset;
	color: white;
	outline: none;
}
#form-info form>textarea::placeholder{
	color: white;
	font-size: 15px;
}
#form-info form>textarea:focus{
	border: 3px solid #008DED;
}
label{
	color: red;
}
#formsubmit>button{
	font-size: 14px;
	padding: 12px 35px;
	font-weight: bold;
}

#content-fl7{
	width: 85%;
	margin: 0 auto;
	color: white;
}
#content-fl7>#title-fl7{
	color: #008DED;
	font-weight: bold;
}
#content-fl7>#title-fl7:before{
	content: "--";
	margin-right: 15px;
}
#content-fl7>#title-fl7:after{
	content: "--";
	margin-left: 15px;
}
#content-fl7>h1{
	font-family: 'Roboto', sans-serif;
	font-size: 55px;
	margin-bottom: 30px;
}
#content-fl7>.text-fl7{
	font-size: 15px;
	margin: 20px 0;
}
#content-fl7>h2{
	font-family: 'Roboto', sans-serif;
	margin: 30px 0;
}




#flag8{
	padding: 100px 0;
}
#flag8>p{
	color: #008DED;
	font-weight: bold;
	text-align: center;
}
#flag8>p:before{
	content: "--";
	margin-right: 15px;
}
#flag8>p:after{
	content: "--";
	margin-left: 15px;
}
#flag8>h1{
	font-family: 'Roboto', sans-serif;
	font-size: 55px;
	margin-bottom: 30px;
	text-align: center;
	color: #0D2241;
}
#box-fl8{
	width: 75%;
	margin: 0 auto;
}
.list-fl8{
	margin-bottom: 40px;
}
.list-fl8>div:first-child>a{
	/*background-color: blue;*/
	border-radius: 20px;
	margin-bottom: 30px;
	padding: 3px 20px;
	font-weight: bold;
}
.item-fl8{
	border: 1px solid gray;
	width: 120px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #F4F6F7;
}
.item-fl8>p{
	text-align: center;
	font-weight: bold;
	margin: 5px 0;
	color: #0D2241;
}
.item-fl8 p>i{
	font-size: 40px;
	color: #0D2241;
}

#flag9{
	background-color: #F4F6F7;
	padding: 100px 0;
}
#flag9>p{
	color: #008DED;
	font-weight: bold;
	text-align: center;
}
#flag9>p:before{
	content: "--";
	margin-right: 15px;
}
#flag9>p:after{
	content: "--";
	margin-left: 15px;
}
#flag9>h1{
	width: 30%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-size: 55px;
	margin-bottom: 30px;
	text-align: center;
	color: #0D2241;
}
#box-fl9{
	width: 85%;
	margin: 0 auto;
}
.item-fl9{
	background-color: white;
	position: relative;
}
.item-fl9:hover{
	background-color: black;
}
.item-fl9:hover .square-fl9 .name-fl9>p{
	color: white;
}
.item-fl9:hover .square-fl9 .evaluate-fl9>i{
	color: white;
}
.item-fl9:hover .square-fl9>p{
	color: white;
}
.item-fl9>a{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}
.square-fl9{
	width: 85%;
	margin: 0 auto;
	padding: 7.5% 0;
}
.square-fl9>img{
	width: 80px !important; 
	height: 80px;
	float: left;
	margin-right: 20px;
}
.square-fl9>.name-fl9{
	float: left;
	height: 80px;
}
.square-fl9 .name-fl9>p{
	margin-bottom: 0;
	font-weight: bold;
}
.square-fl9 .name-fl9>p:first-child{
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	font-size: 18px;
	color: #0D2241;
}
.square-fl9 .name-fl9>p:last-child{
	margin-top: 10px;
	font-size: 14px;
	color: blue;
}
.square-fl9>.evaluate-fl9{
	float: right;
}
.square-fl9 .evaluate-fl9>i{
	font-size: 12px;
	padding: 35px 0;
	color: #0D2241;
}
.square-fl9>p{
	color: #0D2241;
	margin-top: 25px;
}
#box-fl9 .owl-carousel>.owl-nav{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
#box-fl9 .owl-carousel .owl-nav>button{
	width: 40px;
	height: 40px;
	background-color: white;
	margin: 0 5px;
}
#box-fl9 .owl-carousel .owl-nav>button:hover{
	background-color: blue;
	color: white;
}
#box-fl9 .owl-carousel .owl-nav button>span{
	font-size: 25px;
}



#flag10{
	padding: 100px 0;
}
#flag10>p{
	color: #008DED;
	font-weight: bold;
	text-align: center;
}
#flag10>p:before{
	content: "--";
	margin-right: 15px;
}
#flag10>p:after{
	content: "--";
	margin-left: 15px;
}
#flag10>h1{
	font-family: 'Roboto', sans-serif;
	font-size: 55px;
	margin-bottom: 30px;
	text-align: center;
	color: #0D2241;
}
#box-fl10{
	width: 80%;
	margin: 0 auto;
}
#box-fl10 img{
	width: 100%;
	height: 300px;
}
.content-fl10{
	height: 250px;
	margin-bottom: 50px;
}
.top-content-fl10{
	background-color: #ECF2F6;
	display: flex;
	justify-content: center;
}
.top-content-fl10>div{
	width: 90%;
	margin: 20px 0;
	font-size: 14px;
	color: #0D2241;
}
.top-content-fl10 div>span{
	font-size: 14px;
}
.top-content-fl10 div>span:first-child{
	border-left: 3px solid gray;
	border-right: 3px solid gray;
	padding: 0 10px;
	margin: 0 5px;
}
.top-content-fl10 div>span:last-child{
	color: blue;
}
.bot-content-fl10{
	background-color: #F6FBFE;
	display: flex;
	justify-content: center;
}
.bot-content-fl10>div{
	width: 90%;
	margin: 20px 0;
}
.bot-content-fl10 div>p{
	text-align: justify;
	color: #0D2241;
}
.bot-content-fl10 div>a{
	text-decoration: none;
	font-weight: bold;
}
.bot-content-fl10 div a>i{
	font-size: 14px;
	margin-left: 10px;
}
/*==================================*/


/*==================================*/


/*==================================*/
@media screen and (min-width: 992px) and (max-width: 1199px){
	/*====================*/
	section {
		padding-top: 60px;
	}
	#flag1{
		width: 85%;
		height: auto;
	}
	#title-fl1>div {
		font-size: 40px;
	}
	#list-content-fl1 {
		margin-top: 25px;
	}
	.describe-mid {
		margin-top: 0;
	}
	.describe-mid>a {
		font-size: 19px;
	}
	.describe-mid>a:after {
		font-size: 20px;
	}
	.describe-img-fl1 .describe-top-icon>i {
		font-size: 14px;
	}
	.describe-mid>p {
		margin-top: 10px;
		font-size: 14px;
	}
	.describe-bot>a{
		font-size: 13px;
		padding: 1px 20px;
	}
	.describe-bot>i {
		font-size: 25px;
	}


	#flag2{
		margin-top: 100px;
	}
	#flag2>div{
		width: 80%;
	}
	#intro-fl2>video{
		height: 380px;
	}
	#control-video-fl2>p{
		font-size: 18px;
	}
	#control-video-fl2>h1{
		font-size: 40px;
	}


	#main-fl3{
		width: 85%;
	}
	.cout-left, .cout-right {
		width: 120px;
		height: 120px;
	}
	.cout-left>h1 {
		font-size: 30px;
	}
	.cout-right>h1 {
		font-size: 30px;
	}
	#img-fl3>img {
		height: 500px;
	}


	#box-fl4{
		width: 85%;
	}
	#box-fl4>h1{
		font-size: 50px;
	}
	.square-fl4{
		width: 130px;
		height: 130px;
	}
	.title-fl4{
		width: 130px;
		font-size: 19px;
	}
	.text-fl4{
		width: 110px;
	}
	.square-fl4>i{
		font-size: 35px;
	}




	.icon-fl5{
		top: 8px;
		right: 18px;
		width: 25px;
		height: 25px;
	}
	.icon-fl5>i{
		font-size: 14px;
	}
	.square-top-fl5 .more-fl5>div{
		font-size: 14px;
	}
	.square-bot-fl5 .more-fl5>div{
		font-size: 12px;
	}


	#box-fl6{
		width: 80%;
	}
	#list-question-fl6{
		width: 85%;
	}
	#box-fl6>div:first-child>p{
		width: 85%;
	}
	#box-fl6>div:first-child>h1{
		font-size: 35px;
		width: 85%;
	}
	#avatar-fl6>img:first-child{
		width: 350px;
		height: 350px;
	}
	#avatar-fl6>img:last-child{
		width: 130px;
		height: 130px;
	}
	#bg-fl6{
		height: auto;
	}


	#flag7{
		padding: 50px 0;
	}
	#box-fl7{
		width: 85%;
	}
	#form-info>form{
		width: 100%;
	}
	#form-info form>input{
		height: 40px;
	}
	#formsubmit>button{
		padding: 8px 30px;
	}
	#content-fl7{
		width: 95%;
	}
	#content-fl7>#title-fl7{
		text-align: center;
	}
	#content-fl7>h1{
		font-size: 40px;
		margin-bottom: 15px;
	}
	#content-fl7>.text-fl7{
		margin: 0;
		text-align: justify;
	}
	#content-fl7>h2{
		margin: 20px 0;
	}

	#box-fl8{
		width: 80%;
	}
	.item-fl8{
		height: 115px;
	}
	#flag8>h1{
		font-size: 45px;	
	}
	.item-fl8 p>i{
		font-size: 35px;
	}


	#flag9>h1{
		width: 40%;
		font-size: 45px;
	}
	.square-fl9>.evaluate-fl9{
		display: none;
	}
	.square-fl9>p{
		font-size: 14px;
		text-align: justify;
	}



	#box-fl10{
		width: 85%;
	}
	#box-fl10 img{
		height: 265px;
	}
	.content-fl10{
		height: 250px;
		margin-bottom: 15px;
	}
	.top-content-fl10>div{
		margin: 15px 0;
		font-size: 12px;
	}
	.top-content-fl10 div>span:first-child{
		font-size: 12px;
		border-right: none;
		border-left-width: 1px;
	}
	.top-content-fl10 div>span:last-child{
		display: none;
	}
	.bot-content-fl10 div>p{
		font-size: 14px;
	}
	.bot-content-fl10 div>a{
		font-size: 14px;
	}
	.bot-content-fl10 div a>i{
		font-size: 12px;
	}
	/*====================*/
}

/*==================================*/
@media screen and (min-width: 768px) and (max-width: 991px){
	/*====================*/
	section {
		padding-top: 50px;
	}
	#flag1{
		width: 85%;
		height: auto;
	}
	#title-fl1>div {
		font-size: 30px;
	}
	#btn-fl1{
		display: none;
	}
	#btn-fl1>a{
		padding: .25rem .5rem;
		font-size: .875rem;
		line-height: 1.5;
	}
	.content-fl1 .img-fl1>img {
		/*height: 150px;*/
	}
	#list-content-fl1 {
		margin-top: 0;
	}
	.describe-img-fl1>p {
		font-size: 15px;
	}
	.title-img-fl1>.describe-img-fl1 {
		padding-top: 10px;
	}
	.describe-img-fl1 .describe-top-icon>i {
		font-size: 13px;
	}
	.describe-mid {
		margin-top: 0; 
	}
	.describe-mid>a{
		font-size: 18px;
	}
	.describe-mid>a:after{
		font-size: 19px;
	}
	.describe-mid>p {
		margin-top: 15px;
		font-size: 15px;
	}
	.describe-bot>i {
		font-size: 27px;
	}
	.describe-bot>a {
		padding: 1px 15px;
		border-width: 1px;
		font-size: 14px;
	}
	#list-content-fl1>div{
		margin: 15px 0;
	}


	#flag2>div{
		width: 85%;
	}
	#intro-fl2>video{
		height: 350px;
	}
	#control-video-fl2>p{
		font-size: 17px;
	}
	#control-video-fl2>h1{
		width: 100%;
		font-size: 36px;
	}






	#main-fl3{
		width: 85%;
		padding-top: 0;
	}
	#list-cout{
		margin-bottom: 150px;
	}
	#list-cout>.lef-cou{
		display: flex;
		justify-content: flex-end;
	}
	#list-cout>.rig-cou{
		display: flex;
		justify-content: flex-start;
	}
	.cout-left, .cout-right {
		width: 120px;
		height: 120px;
	}
	.cout-left{
		float: left;
	}
	#cout1{
		margin: 0 20px 0 0;
	}
	#cout2{
		margin: 0 10px 0 0;
	}
	.cout-right{
		float: right;
	}
	#cout4{
		margin: 0 0 0 20px;
	}
	#cout3{
		margin: 0 0 0 10px;
	}
	.cout-left>h1 {
		font-size: 30px;
	}
	.cout-right>h1 {
		font-size: 30px;
	}
	#img-fl3>img {
		height: 500px;
	}


	#box-fl4{
		width: 95%;
	}
	#box-fl4>h1{
		font-size: 40px;
	}
	.square-fl4{
		width: 110px;
		height: 110px;
	}
	.title-fl4{
		width: 110px;
		font-size: 16px;
		padding-top: 15px;
		padding-bottom: 5px;
	}
	.text-fl4{
		width: 90px;
		font-size: 12px;
	}

	#box-fl5{
		width: 85%;
	}
	#flag5>h1{
		font-size: 40px;
	}
	.square-top-fl5{
		margin: 10px 0;
	}
	.bbott{
		display: none;
	}
	.square-bot-fl5 .text-fl5>p{
		font-size: 14px;
	}
	.square-bot-fl5 .text-fl5>h5{
		font-size: 16px;
	}
	#flag5>div:last-child a{
		padding: 8px 25px;
	}
	.img-topp-fl5{
		height: 200px;
	}
	.img-bott-fl5{
		height: 200px;
	}



	#box-fl6{
		width: 85%;
	}
	#box-fl6>div:first-child{
		padding: 30px 0;
	}
	#box-fl6>div:first-child>p{
		text-align: center;
	}
	#box-fl6>div:first-child>h1{
		text-align: center;
		font-size: 25px;
	}
	#bg-fl6{
		height: auto;
	}
	#list-question-fl6{
		margin-top: 30px;
		width: 95%;
	}
	.question-fl6>span{
		font-size: 14px;
		margin: 15px 10px 0 15px;
	}
	.question-fl6>.title-fl6{
		font-size: 14px;
		margin-top: 15px;
	}
	.question-fl6 .more-fl6>i{
		padding: 6px 9px;
	}
	.question-fl6>.detail-fl6{
		font-size: 13px;
	}
	#avatar-fl6>img:first-child{
		width: 250px;
		height: 250px;
	}
	#avatar-fl6>img:last-child{
		width: 100px;
		height: 100px;
	}


	#flag7{
		padding: 50px 0;
	}
	#box-fl7{
		width: 90%;
	}
	#form-info>form{
		width: 100%;
	}

	#content-fl7{
		width: 95%;
	}
	#content-fl7>#title-fl7{
		text-align: center;
	}
	#content-fl7>h1{
		font-size: 40px;
		margin-bottom: 10px;
	}
	#content-fl7>.text-fl7{
		margin: 0;
		text-align: justify;
	}
	#content-fl7>h2{
		margin: 15px 0;
	}



	#box-fl8{
		width: 95%;
	}
	.item-fl8{
		margin: 5px 0;
	}
	#flag8{
		padding: 80px 0;
	}
	#flag8>h1{
		font-size: 35px;
	}



	#flag9{
		padding: 60px 0;
	}
	#box-fl9{
		width: 90%;
	}
	#flag9>h1{
		width: 40%;
		font-size: 35px;
	}
	.square-fl9>p{
		margin-top: 5px;
	}
	.square-fl9>img{
		margin-right: 10px;
		width: 65px !important;
		height: 65px;
	}
	.square-fl9>.evaluate-fl9{
		display: none;
	}
	.square-fl9 .name-fl9>p:first-child{
		font-size: 14px;
	}
	.square-fl9 .name-fl9>p:last-child{
		font-size: 12px;
	}
	.square-fl9>p{
		font-size: 14px;
		text-align: justify;
	}
	#box-fl9 .owl-carousel .owl-nav>button{
		width: 30px;
		height: 30px;
	}
	#box-fl9 .owl-carousel .owl-nav button>span{
		font-size: 20px;
	}




	#flag10{
		padding: 60px 0;
	}
	#box-fl10{
		width: 90%;
	}
	#flag10>h1{
		font-size: 45px;
	}
	.abb-fl10{
		margin-top: 30px;
	}
	.bot-content-fl10 div>p{
		font-size: 14px;
	}
	.top-content-fl10>div{
		margin: 10px 0;
		font-size: 14px;
	}
	.top-content-fl10 div>span:first-child{
		font-size: 14px;
		border-right: none;
		border-left-width: 1px;
	}
	.top-content-fl10 div>span:last-child{
		display: none;
	}
	.bot-content-fl10 div>a{
		font-size: 14px;
	}
	.content-fl10{
		height: auto;
		margin-bottom: 0;
	}
	#box-fl10 img{
		height: 200px;
	}
	/*====================*/
}

/*==================================*/
@media screen and (min-width: 576px) and (max-width: 767px){
	/*====================*/
	section {
		padding-top: 50px;
	}
	#flag1{
		width: 90%;
		height: auto;
	}
	#title-fl1>div {
		font-size: 28px;
	}
	#btn-fl1{
		display: none;
	}
	#btn-fl1>a{
		padding: .25rem .5rem;
		font-size: .875rem;
		line-height: 1.5;
	}
	.content-fl1 .img-fl1>img {
		height: 150px;
	}
	#list-content-fl1 {
		margin-top: 0;
	}
	.describe-img-fl1>p {
		font-size: 14px;
	}
	.title-img-fl1>.describe-img-fl1 {
		padding-top: 10px;
	}
	.describe-img-fl1 .describe-top-icon>i {
		font-size: 13px;
	}
	.describe-mid {
		margin-top: 0; 
	}
	.describe-mid>a{
		font-size: 18px;
	}
	.describe-mid>a:after{
		font-size: 19px;
	}
	.describe-mid>p {
		margin-top: 15px;
		font-size: 14px;
	}
	.describe-bot{
		/*margin-top: 20px;
		margin-bottom: 15px;*/
	}
	.describe-bot>i {
		font-size: 27px;
	}
	.describe-bot>a {
		padding: 1px 15px;
		border-width: 1px;
		font-size: 13px;
	}
	#list-content-fl1>div{
		margin: 15px 0 40px 0;
	}


	#flag2 {
		margin-top: 15px;
	}
	#flag2>div {
		width: 90%;
		padding-top: 60px;
	}
	#control-video-fl2 {
		margin: 40px 0;
	}
	#control-video-fl2>h1{
		font-size: 36px;
		margin-top: 20px;
	}



	#main-fl3{
		width: 90%;
		padding-top: 0;
	}
	#list-cout{
		margin-bottom: 100px;
	}
	#list-cout>.lef-cou{
		display: flex;
		justify-content: flex-end;
	}
	#list-cout>.rig-cou{
		display: flex;
		justify-content: flex-start;
	}
	.cout-left, .cout-right {
		width: 100px;
		height: 100px;
	}
	.cout-left{
		float: left;
	}
	#cout1{
		margin: 0 20px 0 0;
	}
	#cout2{
		margin: 0 10px 0 0;
	}
	.cout-right{
		float: right;
	}
	#cout4{
		margin: 0 0 0 20px;
	}
	#cout3{
		margin: 0 0 0 10px;
	}
	.cout-left>h1 {
		font-size: 20px;
	}
	.cout-left>p {
		font-size: 14px;
	}
	.cout-right>h1 {
		font-size: 20px;
	}
	.cout-right>p {
		font-size: 14px;
	}
	#img-fl3>img {
		height: 400px;
	}


	#box-fl4{
		width: 90%;
	}
	#box-fl4>h1{
		font-size: 30px;
	}
	#box-fl4>p{
		font-size: 14px;
	}
	.square-fl4{
		width: 90px;
		height: 90px;
	}
	.square-fl4>i{
		font-size: 30px;
	}
	.title-fl4{
		width: 90px;
		font-size: 13px;
		padding-top: 15px;
		padding-bottom: 5px;
	}
	.text-fl4{
		width: 90px;
		font-size: 10px;
	}



	#flag5>h1{
		font-size: 40px;
	}
	#box-fl5{
		width: 95%;	
	}
	.square-top-fl5{
		margin: 10px 0;
	}
	.bbott{
		display: none;
	}
	.square-bot-fl5 .text-fl5>p{
		font-size: 14px;
	}
	.square-bot-fl5 .text-fl5>h5{
		font-size: 16px;
	}
	#flag5>div:last-child a{
		padding: 8px 25px;
		font-size: 14px;
	}
	.icon-fl5{
		width: 25px;
		height: 25px;
	}
	.text-fl5>p{
		font-size: 12px;
	}
	.text-fl5>h5{
		font-size: 16px;
	}
	.square-top-fl5 .more-fl5>div{
		height: 85%;
		padding-top: 35px;
		font-size: 12px;
	}
	.square-bot-fl5 .more-fl5>div{
		height: 85%;
		padding-top: 35px;
		font-size: 12px;
	}
	.img-topp-fl5{
		height: 180px;
	}
	.img-bott-fl5{
		height: 180px;
	}


	#box-fl6{
		width: 95%;
	}
	#box-fl6>div:first-child{
		padding: 60px 0;
	}
	#box-fl6>div:first-child>p{
		text-align: center;
		font-size: 14px;
	}
	#box-fl6>div:first-child>h1{
		text-align: center;
		font-size: 25px;
	}
	#bg-fl6{
		height: auto;
		background-color: unset;
	}
	#list-question-fl6{
		margin-top: 30px;
	}
	.question-fl6>span{
		font-size: 15px;
	}
	.question-fl6>.title-fl6{
		font-size: 15px;
	}
	.question-fl6 .more-fl6>i{
		padding: 8px 11px;
	}
	.question-fl6>.detail-fl6{
		font-size: 14px;
	}
	#avatar-fl6>img:first-child{
		width: 300px;
		height: 300px;
	}
	#avatar-fl6>img:last-child{
		width: 110px;
		height: 110px;
	}
	.avt-fl6{
		margin-bottom: 50px;
	}



	#flag7{
		padding: 50px 0;
	}
	#box-fl7{
		width: 95%;
	}
	#form-info{
		margin-bottom: 50px;
	}
	#form-info>form{
		width: 100%;
	}
	#form-info form>input{
		height: 35px;
		font-size: 14px;
	}
	#form-info form>input:focus{
		border-width: 1px;
	}
	#form-info form>input::placeholder{
		font-size: 14px;
	}
	#form-info form>textarea{
		height: 150px;
		font-size: 14px;
	}
	#form-info form>textarea:focus{
		border-width: 1px;
	}
	#form-info form>textarea::placeholder{
		font-size: 14px;
	}
	label{
		font-size: 14px;
	}
	#formsubmit>button{
		padding: 6px 0;
		width: 40%;
		margin-left: 30%;
		font-size: 12px;
	}
	#content-fl7{
		width: 95%;
	}
	#content-fl7>#title-fl7{
		text-align: center;
	}
	#content-fl7>h1{
		text-align: center;
		font-size: 35px;
	}
	#content-fl7>.text-fl7{
		text-align: justify;
		font-size: 14px;
	}
	#content-fl7>h2{
		text-align: center;
		font-size: 30px;
	}


	#box-fl8{
		width: 90%;
	}
	#flag8{
		padding: 60px 0; 
	}
	.item-fl8{
		margin: 5px 0;
	}
	#flag8>h1{
		font-size: 35px;
	}


	#flag9{
		padding: 60px 0;
	}
	#box-fl9{
		width: 90%;
	}
	#flag9>h1{
		width: 40%;
		font-size: 30px;
	}
	.square-fl9>p{
		margin-top: 5px;
	}
	.square-fl9>img{
		margin-right: 10px;
		width: 65px !important;
		height: 65px;
	}
	.square-fl9>.evaluate-fl9{
		display: none;
	}
	.square-fl9 .name-fl9>p:first-child{
		font-size: 14px;
	}
	.square-fl9 .name-fl9>p:last-child{
		font-size: 12px;
	}
	.square-fl9>p{
		font-size: 14px;
		text-align: justify;
	}
	#box-fl9 .owl-carousel .owl-nav>button{
		width: 30px;
		height: 30px;
	}
	#box-fl9 .owl-carousel .owl-nav button>span{
		font-size: 20px;
	}


	#flag10{
		padding: 60px 0;
	}
	#flag10>h1{
		font-size: 40px;
	}
	#box-fl10{
		width: 90%;
	}
	.abb-fl10{
		margin-top: 30px;
	}
	.bot-content-fl10 div>p{
		font-size: 14px;
	}
	.top-content-fl10>div{
		margin: 10px 0;
		font-size: 14px;
	}
	.top-content-fl10 div>span:first-child{
		font-size: 14px;
		border-right: none;
		border-left-width: 1px;
	}
	.top-content-fl10 div>span:last-child{
		display: none;
	}
	.bot-content-fl10 div>a{
		font-size: 14px;
	}
	.content-fl10{
		height: auto;
		margin-bottom: 0;
	}
	#box-fl10 img{
		height: 200px;
	}
	/*====================*/
}

/*==================================*/
@media screen and (max-width: 575px){
	/*====================*/
	section {
		padding-top: 50px;
	}
	#flag1{
		width: 90%;
		height: auto;
	}
	#title-fl1>div {
		font-size: 26px;
	}
	#btn-fl1{
		display: none;
	}
	.content-fl1 .img-fl1>img {
		height: 230px;
	}
	#list-content-fl1 {
		margin-top: 0;
	}
	.describe-img-fl1>p {
		font-size: 12px;
	}
	.title-img-fl1>.describe-img-fl1 {
		padding-top: 10px;
	}
	.describe-img-fl1 .describe-top-icon>i {
		font-size: 12px;
	}
	.describe-mid {
		margin-top: 0; 
	}
	.describe-mid>a {
		font-size: 16px;
	}
	.describe-mid>a:after {
		font-size: 18px;
	}
	.describe-mid>p {
		margin-top: 0px;
		font-size: 12px;
	}
	.describe-bot{
		margin: 20px 0;
	}
	.describe-bot>i {
		font-size: 24px;
		margin-right: 10px;
	}
	.describe-bot>a {
		font-size: 12px;
		padding: 0px 10px;
		border-width: 1px;
	}
	#list-content-fl1>div{
		margin: 15px 0 40px 0;
	}	


	#flag2{
		margin-top: 50px;
	}
	#flag2>div{
		width: 90%;
	}
	#intro-fl2{
		padding-right: 0;
	}
	#intro-fl2>video{
		height: 230px;
	}
	#control-video-fl2{
		padding: 30px 0 50px 0;
	}
	#control-video-fl2>p{
		font-size: 16px;
	}
	#control-video-fl2>h1{
		font-size: 26px;
		margin-top: 0;
	}
	#control-video-fl2 div>button{
		width: 60px;
		height: 60px;
	}
	#control-video-fl2 div button>div{
		width: 100px;
		height: 100px;
	}
	#control-video-fl2 div button>i{
		font-size: 20px;
	}



	#main-fl3{
		width: 80%;
		padding-top: 0;
		padding-bottom: 50px;
	}
	#list-cout{
		margin-bottom: 100px;
	}
	#list-cout>.lef-cou{
		display: flex;
		justify-content: flex-end;
	}
	#list-cout>.rig-cou{
		display: flex;
		justify-content: flex-start;
	}
	.cout-left, .cout-right {
		width: 70px;
		height: 70px;
	}
	.cout-left{
		float: left;
	}
	#cout1{
		margin: 0 10px 0 0;
	}
	#cout2{
		margin: 0 5px 0 0;
	}
	.cout-right{
		float: right;
	}
	#cout4{
		margin: 0 0 0 10px;
	}
	#cout3{
		margin: 0 0 0 5px;
	}
	.cout-left>h1 {
		font-size: 14px;
	}
	.cout-left>p {
		font-size: 10px;
	}
	.cout-right>h1 {
		font-size: 14px;
	}
	.cout-right>p {
		font-size: 10px;
	}
	#img-fl3>img {
		height: 360px;
	}


	#flag4{
		padding: 50px 0;
	}
	#box-fl4{
		width: 80%;
	}
	#box-fl4>h1{
		font-size: 30px;
	}
	#box-fl4>p{
		font-size: 14px;
	}
	.arr{
		display: none !important;
	}
	#list-left-fl4{
		margin: 0 auto;
		margin-bottom: 40px;
	}
	#list-right-fl4{
		margin: 0 auto;
		margin-top: 100px;
	}
	.square-fl4>i{
		font-size: 60px;
	}



	#flag5{
		padding: 50px 0;
	}
	#flag5>h1{
		font-size: 30px;
		margin-bottom: 30px;
	}
	#flag5>div:last-child a{
		font-size: 12px;
		padding: 7px 25px;
	}
	#flag5>div:last-child a i{
		font-size: 12px;
	}
	.square-top-fl5, .square-bot-fl5{
		margin: 15px 0;
	}
	.text-fl5>p{
		font-size: 10px;
	}
	.text-fl5>h5{
		font-size: 14px;
	}
	.square-bot-fl5 .text-fl5>p{
		font-size: 10px;
	}
	.square-bot-fl5 .text-fl5>h5{
		font-size: 14px;
	}
	.icon-fl5{
		width: 25px;
		height: 25px;
	}
	.icon-fl5>i{
		font-size: 12px;
	}
	#box-fl5{
		margin-bottom: 20px;
		width: 100%;
	}
	.img-topp-fl5{
		height: 190px;
	}
	.img-bott-fl5{
		height: 190px;
	}




	#box-fl6{
		width: 100%;
	}
	#box-fl6>div:first-child{
		padding: 50px 0;
	}
	#box-fl6>div:first-child>p{
		text-align: center;
	}
	#box-fl6>div:first-child>h1{
		text-align: center;
		font-size: 30px;
	}
	#bg-fl6{
		height: auto;
	}
	#list-question-fl6{
		width: 90%;
		margin-top: 30px;	
	}
	.question-fl6>span{
		font-size: 13px;
		margin: 14px 5px 0 5px;
	}
	.question-fl6>.title-fl6{
		font-size: 13px;
	}
	.question-fl6>.more-fl6{
		margin: 8px 9px 0 0;
	}
	.question-fl6 .more-fl6>i{
		font-size: 12px;
		padding: 6px 9px;
	}
	.question-fl6>.title-fl6{
		margin: 14px 0 0 0;
	}
	.question-fl6>.detail-fl6{
		font-size: 12px;
		padding: 5px 20px 10px 28px;
		text-align: justify;
	}
	.avt-fl6{
		display: none;
	}



	#flag7{
		padding: 50px 0;
	}
	#box-fl7{
		width: 100%;
	}
	#form-info{
		margin-bottom: 50px;
	}
	#form-info>form{
		width: 100%;
	}
	#form-info form>input{
		height: 35px;
		font-size: 12px;
	}
	#form-info form>input:focus{
		border-width: 1px;
	}
	#form-info form>input::placeholder{
		font-size: 12px;
	}
	#form-info form>textarea{
		height: 120px;
		font-size: 12px;
	}
	#form-info form>textarea:focus{
		border-width: 1px;
	}
	#form-info form>textarea::placeholder{
		font-size: 12px;
	}
	label{
		font-size: 12px;
	}
	#formsubmit>button{
		padding: 6px 0;
		width: 40%;
		margin-left: 30%;
		font-size: 12px;
	}
	#content-fl7{
		width: 100%;
	}
	#content-fl7>#title-fl7{
		text-align: center;
	}
	#content-fl7>h1{
		text-align: center;
		font-size: 35px;
	}
	#content-fl7>.text-fl7{
		text-align: justify;
		font-size: 12px;
	}
	#content-fl7>h2{
		text-align: center;
		font-size: 25px;
	}

	#box-fl8{
		width: 90%;
	}
	#flag8{
		padding: 50px 0;
	}
	#flag8>h1{
		font-size: 30px;
	}
	.item-fl8 p>i{
		font-size: 25px;
	}
	.item-fl8>p{
		font-size: 12px;
	}
	.item-fl8{
		margin: 5px 0;
		height: 70px;
	}
	.list-fl8{
		margin-bottom: 15px;
	}
	.list-fl8>div:first-child>a{
		margin-bottom: 15px;
		font-size: 12px;
	}



	#flag9{
		padding: 60px 0;
	}
	#box-fl9{
		width: 90%;
	}
	#flag9>h1{
		width: 80%;
		font-size: 25px;
	}
	.square-fl9>img{
		margin-right: 10px;
		width: 65px !important;
		height: 65px;
	}
	.square-fl9>.evaluate-fl9{
		display: none;
	}
	.square-fl9 .name-fl9>p:first-child{
		font-size: 14px;
	}
	.square-fl9 .name-fl9>p:last-child{
		font-size: 12px;
	}
	.square-fl9>p{
		font-size: 13px;
		text-align: justify;
		margin-top: 5px;
	}
	#box-fl9 .owl-carousel .owl-nav>button{
		width: 30px;
		height: 30px;
	}
	#box-fl9 .owl-carousel .owl-nav button>span{
		font-size: 20px;
	}


	#flag10{
		padding: 50px 0;
	}
	#flag10>h1{
		font-size: 35px;
	}
	#box-fl10{
		width: 90%;
	}
	#box-fl10 img{
		height: 200px;
	}
	.top-content-fl10>div{
		font-size: 12px;
		margin: 10px 0;
	}
	.top-content-fl10 div>span:last-child{
		display: none;
	}
	.top-content-fl10 div>span:first-child{
		font-size: 12px;
		border-right: none;
		border-left-width: 1px;
	}
	.bot-content-fl10 div>p{
		font-size: 12px;
	}
	.bot-content-fl10 div>a{
		font-size: 12px;
	}
	.bot-content-fl10 div a>i{
		font-size: 10px;
	}
	.content-fl10{
		margin-bottom: 0;
		height: 220px;
	}
	/*====================*/
}





