#bg-hea{
	background-image: url(../images/bg-4.jpg);
}


/*===================*/
#flag1{
	padding: 100px 0; 
}
#box-fl1{
	width: 80%;
	margin: 0 auto;
}
#content-fl1{
	width: 70%;
	margin: 0 auto;
}
#content-fl1>p{
	font-weight: bold;
	color: #0083ED;
	font-family: 'Roboto', sans-serif;
}
#content-fl1>p:before{
	content: "--";
	margin-right: 15px;
}
#content-fl1>p:after{
	content: "--";
	margin-left: 15px;
}
#content-fl1>h1{
	font-family: 'Roboto', sans-serif;
	font-size: 55px;
	margin: 25px 0;
	color: #0F253E;
}
#content-fl1>h5{
	padding-left: 20px;
	border-left: 4px solid #0083ED;
	font-weight: bold;
	color: #0F253E;
}
#content-fl1>div{;
	margin: 25px 0;
	text-align: justify;
}
#content-fl1>button{
	width: 100%;
	padding: 15px 25px;
	text-align: left;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#content-fl1 button>div{
	font-weight: bold;
}
#content-fl1 button>i{
	float: right;
	line-height: inherit;
	border: 1px solid white;
	padding: 5px 9px;
}
.list-fl1{
	
}
.square-fl1{
	position: relative;
	padding: 20px 15px;
	background-color: #F4F6F7;
	cursor: pointer;
}
.square-fl1:hover{
	background-color: #0D2241;
}
.square-fl1:hover>.numb{
	background-color: white;
	color: #0088EE;
}
.square-fl1:hover h6>i{
	color: white;
}
.square-fl1:hover>h3{
	color: white;
}
.square-fl1:hover>div{
	color: white;
}
.square-fl1>.numb{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 30px;
	height: 30px;
	background-color: #0088EE;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}
.square-fl1 p>i{
	font-size: 60px;
	margin: 25px 0 20px 0;
	color: #BDBDBD;
}
.square-fl1 h6>i{
	font-size: 18px;
	color: #0088EE;
}
.square-fl1>h3{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	margin: 20px 0;
	color: #072240;
}
.square-fl1>.text-fl1{
	font-size: 14px;
	text-align: justify;
	margin-bottom: 20px;
	color: #606060;
}
.square-fl1>a{
	font-size: 14px;
	font-weight: bold;
	color: #0088EE;
	text-decoration: none;
}
.square-fl1 a>i{
	font-size: 13px;
	margin-left: 10px;
}



#flag2{
	background-color: #F4F6F7;
	padding: 100px 0;
}
#box-fl2{
	width: 75%;
	margin: 0 auto;
}
.flip-card {
	background-color: transparent;
	width: 100%;
	height: 300px;
	perspective: 1000px;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-front {
	background-color: white;
}
.flip-card-front>div{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 4px solid #0085EF;
}
.flip-card-front div>i:first-child{
	font-size: 60px;
	color: #BDBDBD;
}
.flip-card-front div>i:last-child{
	color: white;
	background-color: #0085EF;
	padding: 17px;
	border-radius: 50%;
}
.flip-card-front div>h3{
	margin: 40px 0;
	font-family: 'Roboto', sans-serif;
	color: #10213E;
}
.flip-card-front div>span{
	position: absolute;
	left: 0;
	bottom: 0;
}
.flip-card-front div span>i{
	font-size: 100px;
	color: #BDBDBD;
}
.flip-card-back {
	color: white;
	transform: rotateY(180deg);
}
.flip-card-back>div{
	width: 100%;
	height: 100%;
	background-color: #0085EF;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.flip-card-back div>span{
	position: absolute;
	right: 0;
	bottom: 0;
}
.flip-card-back div span>i{
	font-size: 100px;
	color: #BDBDBD;
}
.flip-card-back div>div{
	width: 80%;
}
.flip-card-back div div>h3{
	font-family: 'Roboto', sans-serif;
}
.flip-card-back div div>h3{
	margin: 20px 0;
}
.flip-card-back div div>div{
	margin: 10px 0;
	font-weight: bold;
	display: flex;
	align-items: center;
}
.flip-card-back div div div>i{
	font-size: 30px;
	margin-right: 15px;
}




#flag3{
	padding: 100px 0;
	background-color: #0D2241;
	color: white;
}
#flag3>p{
	text-align: center;
	font-weight: bold;
	color: #0085EF;
}
#flag3>p:before{
	content: "--";
	margin-right: 15px;
}
#flag3>p:after{
	content: "--";
	margin-left: 15px;
}
#flag3>h1{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 55px;
	margin-bottom: 50px;
}
#box-fl3{
	width: 75%;
	margin: 0 auto;
}
#box-fl3 .row:first-child>div{
	padding: 60px 0;
	padding-bottom: 0;
}
#box-fl3 .row:first-child>div:first-child{
	border-right: 3px solid #0085EF;
	background-color: hsl(216, 63%, 19%);
}
#box-fl3 .row:first-child>div:first-child>div{
	position: relative;
	height: 170px;
}
#box-fl3 .row:first-child>div:first-child div>h5{
	position: absolute;
	right: -1%;
	padding-right: 50px;
	border-right: 3px solid white;
	font-family: 'Roboto', sans-serif;
}
#box-fl3 .row:first-child>div:last-child{
	padding-left: 50px;
	padding-right: 50px;
}
#box-fl3 .row:first-child>div:last-child>div{
	height: 170px;
}
#box-fl3 .row:first-child>div:last-child div>h5{
	margin-bottom: 15px;
	font-family: 'Roboto', sans-serif;
}
#box-fl3 .row:first-child>div:last-child div>p{
	font-size: 14px;
}

#box-fl3 .row:last-child{
	margin-top: 100px;
	border: 1px solid white;
	box-shadow: 5px 5px 0px white;
}
.cout-fl3{
	margin: 50px 0;
	width: 100%;
	display: flex;
	flex-direction: column;

}
.cout-fl3>h2{
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
.cout-fl3 h2>i{
	font-size: 20px;
	margin-left: 5px;
	line-height: inherit;

}
.cout-fl3>p{
	font-weight: bold;
	text-align: center;
	margin-bottom: 0;
}
#bor-left-fl3{
	border-left: 4px solid yellow;
	border-right: 2px solid yellow;
}
#bor-right-fl3{
	border-left: 2px solid yellow;
	border-right: 4px solid yellow;
}


.squareall {
    background-color: #F4F6F7;
}


/*===========================================*/
@media screen and (min-width: 1200px){

}


/*===========================================*/
@media screen and (min-width: 992px) and (max-width: 1199px){
	#flag1{
		padding: 80px 0;
	}
	#content-fl1{
		width: 100%;
	}
	#content-fl1>h1{
		font-size: 37px;
		margin: 15px 0;
	}
	#content-fl1>h5{
		font-size: 16px;
	}
	#content-fl1>div{
		font-size: 14px;
		margin: 15px 0;
	}
	#content-fl1>button{
		padding: 10px 15px;
	}
	#content-fl1 button>i{
		font-size: 12px;
		padding: 4px 8px;
	}
	#content-fl1 button>div{
		font-size: 15px;
	}
	.square-fl1{
		padding: 15px 10px;
	}
	.square-fl1>p{
		margin-bottom: 0;
	}
	.square-fl1 p>i{
		font-size: 40px;
	}
	.square-fl1>.numb{
		width: 25px;
		height: 25px;
		font-size: 14px;
	}
	.square-fl1>h3{
		font-size: 18px;
		margin: 15px 0;
	}


	.flip-card-front div>i:first-child{
		font-size: 50px;
	}
	.flip-card-front div>i:last-child{
		padding: 14px;
	}
	.flip-card-front div>h3{
		margin: 30px 0;
	}
	.flip-card-front div span>i{
		font-size: 90px;
	}
	.flip-card-back div>div{
		width: 90%;
	}
	.flip-card-back div div>h3{
		text-align: center;
		font-size: 22px;
	}
	.flip-card-back div div>p{
		text-align: justify;
		font-size: 14px;
	}
	.flip-card-back div div>div{
		font-size: 13px;
	}
	.flip-card-back div div div>i{
		font-size: 24px;
	}



	#box-fl3 .row:first-child>div{
		padding: 40px 0;
		padding-bottom: 0;
	}
	#box-fl3 .row:first-child>div:first-child div>h5{
		font-size: 18px;
		padding-right: 30px;
	}
	#box-fl3 .row:first-child>div:last-child div>h5{
		font-size: 18px;
	}
	#box-fl3 .row:first-child>div:last-child div>p{
		font-size: 13px;
	}
	#box-fl3 .row:first-child>div:last-child{
		padding-right: 0;
		padding-left: 30px;
	}
	#box-fl3 .row:first-child>div:first-child>div{
		height: 180px;
	}
	#box-fl3 .row:first-child>div:last-child>div{
		height: 180px;
	}
	#box-fl3 .row:last-child{
		margin-top: 80px;
	}
	.cout-fl3{
		margin: 35px 0;
	}
	.cout-fl3>h2{
		font-size: 24px;
	}
	.cout-fl3 h2>i{
		font-size: 15px;
	}
	.cout-fl3>p{
		font-size: 14px;
	}
}	


/*===========================================*/
@media screen and (min-width: 768px) and (max-width: 991px){
	#flag1{
		padding: 60px 0;
	}
	.list-fl1{
		margin-bottom: 50px;
	}
	#content-fl1{
		width: 85%;
	}
	#content-fl1>p{
		text-align: center;
	}
	#content-fl1>h1{
		font-size: 43px;
		text-align: center;
	}
	#content-fl1>h5{
		font-size: 17px;
	}
	#content-fl1>div{
		font-size: 14px;
	}
	#content-fl1>button{
		margin: 0 auto;
		padding: 10px 15px;
		width: 60%;
	}
	#content-fl1 button>div{
		font-size: 14px;
	}
	#content-fl1 button>i{
		font-size: 14px;
	}
	.square-fl1 p>i{
		font-size: 50px;
	}



	.flip-card-front div>i:first-child{
		font-size: 50px;
	}
	.flip-card-front div>i:last-child{
		padding: 14px;
	}
	.flip-card-front div>h3{
		margin: 30px 0;
	}
	.flip-card-front div span>i{
		font-size: 90px;
	}
	.flip-card-back div>div{
		width: 81%;
	}
	.flip-card-back div div>h3{
		text-align: center;
		font-size: 22px;
	}
	.flip-card-back div div>p{
		text-align: justify;
		font-size: 14px;
	}
	.flip-card-back div div>div{
		font-size: 13px;
	}
	.flip-card-back div div div>i{
		font-size: 24px;
	}
	#none-fl2{
		display: none;
	}

	#box-fl2{
		width: 85%;
	}

	#flag3{
		padding: 70px 0; 
	}
	#flag3>h1{
		font-size: 40px;
		margin-bottom: 35px;
	}
	#box-fl3{
		width: 85%;
	}
	#box-fl3 .row:first-child>div:first-child div>h5{
		right: -1.7%;
		font-size: 18px;
		padding-right: 25px;
	}
	#box-fl3 .row:first-child>div{
		padding-top: 30px;
	}
	#box-fl3 .row:first-child>div:last-child{
		padding-left: 25px;
	}
	#box-fl3 .row:first-child>div:last-child div>h5{
		font-size: 18px;
	}
	#box-fl3 .row:first-child>div:last-child div>p{
		font-size: 13px;
	}
	#box-fl3 .row:first-child>div:last-child>div{
		height: 180px;
	}
	#box-fl3 .row:first-child>div:first-child>div{
		height: 180px;
	}
	#box-fl3 .row:last-child{
		margin-top: 60px;
	}
	#bor-left-fl3{
		border-right: none;
	}
	#bor-right-fl3{
		border-left: none;
		border-right: none;
	}
	#bor-fl3{
		border-left: 4px solid yellow;
	}
	.cout-fl3{
		margin: 20px 0;
	}
	.cout-fl3>h2{
		font-size: 22px;
	}
	.cout-fl3 h2>i{
		font-size: 15px;
	}
}


/*===========================================*/
@media screen and (min-width: 576px) and (max-width: 767px){
	#flag1{
		padding: 50px 0;
	}
	#box-fl1{
		width: 90%;
	}
	.square-fl1 p>i{
		font-size: 40px;
	}
	.square-fl1>.numb{
		width: 23px;
		height: 23px;
		font-size: 13px;
	}
	.square-fl1>p{
		margin-bottom: 0;
	}
	.square-fl1>h3{
		font-size: 17px;
		margin: 15px 0;
	}
	.square-fl1>a{
		font-size: 13px;
	}
	.list-fl1{
		margin-bottom: 40px;
	}
	#content-fl1{
		width: 85%;
	}
	#content-fl1>p{
		text-align: center;
	}
	#content-fl1>h1{
		text-align: center;
		font-size: 35px;
		margin: 20px 0;
	}
	#content-fl1>h5{
		font-size: 14px;
	}
	#content-fl1>div{
		margin: 20px 0;
		font-size: 14px;
	}
	#content-fl1>button{
		padding: 10px 25px;
	}



	#flag2{
		padding: 50px 0;
	}
	#box-fl2{
		width: 90%;
	}
	.flip-card-front div>i:first-child{
		font-size: 50px;
	}
	.flip-card-front div>h3{
		margin: 30px 0;	
	}
	.flip-card-front div>i:last-child{
		padding: 15px;
		font-size: 12px;
	}
	.flip-card{
		margin: 20px auto;
		height: 270px;
	}
	.flip-card-front div span>i{
		font-size: 90px;
	}
	.flip-card-back div>div{
		width: 90%;
	}
	.flip-card-back div div>h3{
		text-align: center;
		font-size: 24px;
	}
	.flip-card-back div div>p{
		text-align: justify;
		margin-bottom: 0;
		font-size: 14px;
	}
	.flip-card-back div div>div{
		font-size: 14px;
	}
	.flip-card-back div div div>i{
		font-size: 17px;
	}
	#none-fl2{
		display: none;
	}


	#flag3{
		padding: 50px 0;
	}
	#box-fl3{
		width: 85%;
	}
	#flag3>h1{
		font-size: 45px;
		margin-bottom: 40px;
	}
	#box-fl3 .row:first-child>div{
		padding: 0;
	}
	#box-fl3 .row:first-child>div:last-child{
		padding: 0;
	}
	#box-fl3 .row:first-child>div:first-child{
		display: none;
	}
	#box-fl3 .row:last-child{
		margin-top: 60px;
	}
	#bor-left-fl3{
		border-right: none;
	}
	#bor-right-fl3{
		border-left: none;
		border-right: none;
	}
	#bor-fl3{
		border-left: 4px solid yellow;
	}
	.cout-fl3{
		margin: 20px 0;
	}
	.cout-fl3>h2{
		font-size: 22px;
	}
	.cout-fl3 h2>i{
		font-size: 15px;
	}
	#box-fl3 .row:first-child>div:last-child div>h5{
		font-size: 18px;
	}
	#box-fl3 .row:first-child>div:last-child div>p{
		font-size: 13px;
	}
}


/*===========================================*/
@media screen and (max-width: 575px){
	#box-fl1{
		width: 90%;
	}
	#flag1{
		padding: 30px 0;
	}
	.none-fl1{
		display: none;
	}
	.square-fl1{
		padding: 15px;
	}
	.square-fl1>p{
		margin-bottom: 0;
	}
	.square-fl1 p>i{
		font-size: 40px;
	}
	.square-fl1>.numb{
		font-size: 12px;
		width: 25px;
		height: 25px;
	}
	.square-fl1>h3{
		font-size: 16px;
		margin: 15px 0;
	}
	.square-fl1>.text-fl1{
		font-size: 12px;
		margin-bottom: 10px;
	}
	.list-fl1{
		margin-bottom: 30px;
	}
	#content-fl1{
		width: 100%;
	}
	#content-fl1>p{
		text-align: center;
	}
	#content-fl1>h1{
		text-align: center;
		font-size: 30px;
		margin: 15px 0;
	}
	#content-fl1>h5{
		font-size: 14px;
	}
	#content-fl1>div{
		margin: 15px 0;
		font-size: 12px;
	}
	#content-fl1>button{
		padding: 5px 15px;
	}
	#content-fl1 button>i{
		font-size: 12px;
	}
	#content-fl1 button>div{
		font-size: 14px;
	}


	#flag2{
		padding: 35px 0;
	}
	#box-fl2{
		width: 90%;
	}
	.flip-card-front div>i:first-child{
		font-size: 40px;
	}
	.flip-card-front div>h3{
		margin: 20px 0;	
		font-size: 22px;
	}
	.flip-card-front div>i:last-child{
		padding: 12px;
		font-size: 12px;
	}
	.flip-card{
		width: 90%;
		margin: 15px auto;
		height: 230px;
	}
	.flip-card-front div span>i{
		font-size: 70px;
	}
	.flip-card-back div div>h3{
		text-align: center;
		font-size: 20px;
	}
	.flip-card-back div div>p{
		text-align: justify;
		margin-bottom: 0;
		font-size: 12px;
	}
	.flip-card-back div div>div{
		font-size: 12px;
	}
	.flip-card-back div div div>i{
		font-size: 17px;
	}
	.flip-card-back div span>i{
		font-size: 70px;
	}




	#flag3{
		padding: 35px 0;
	}
	#flag3>h1{
		font-size: 35px;
		margin-bottom: 20px;
	}
	#box-fl3{
		width: 90%;
	}
	#box-fl3 .row:first-child>div:first-child{
		display: none;
	}
	#box-fl3 .row:first-child>div{
		padding: 0;
	}
	#box-fl3 .row:first-child>div:last-child{
		padding-left: 15px;
		padding-right: 15px;
	}
	#box-fl3 .row:first-child>div:last-child div>h5{
		font-size: 16px;
	}
	#box-fl3 .row:first-child>div:last-child div>p{
		font-size: 12px;
	}
	#box-fl3 .row:first-child>div:last-child>div{
		height: 215px;
	}
	#box-fl3 .row:last-child{
		margin-top: 10px;
		margin-right: 15px;
		margin-left: 15px;
		box-shadow: none;
	}
	.cout-fl3{
		margin: 20px 0;
	}
	.cout-fl3>h2{
		font-size: 18px;
	}
	.cout-fl3 h2>i{
		font-size: 14px;
	}
	.cout-fl3>p{
		font-size: 13px;
	}
	#bor-left-fl3{
		border-right: none;
		border-left-width: 1px;
	}
	#bor-right-fl3{
		border-right: none;
		border-left: none;
	}
	#bor-fl3{
		border-left: 1px solid yellow
	}
}