#bg-hea{
	background-image: url(../images/bg-7.jpg);
}


.newall3{
	margin: 0 0 25px 25px;
}
.newall3+hr{
	margin: 25px 0 25px 25px
}
.newall3>img{
	width: 300px;
	height: 300px;
	float: left;
}
.newall3>div{
	color: #10213E;
	margin-left: 330px;
}
.newall3 div>b{
	font-size: 18px;
}
.newall3 div>div{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
	background-color: #F4F6F7;
	color: gray;
	font-size: 14px;
	margin: 30px 0;
}
.newall3 div div>div{
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	padding: 0 10px;
	margin: 0 10px;
}
.newall3 div div>span{
	color: #0085EF;
}
.newall3 div>p{
	text-align: justify;
	color: gray;
	margin-bottom: 50px;
}
.newall3 div>a{
	text-decoration: none;
	font-weight: bold;
}
.newall3 div a>i{
	margin-left: 15px;
	font-size: 14px;
}
.page-link>i{
	font-size: 14px;	
}







@media screen and (min-width: 992px) and (max-width: 1199px){
	.newall3>img{
		width: 200px;
		height: 200px;
	}
	.newall3>div{
		margin-left: 230px;
	}
	.newall3{
		margin: 0 0 25px 0;
	}
	.newall3 div>b{
		font-size: 15px;
	}
	.newall3 div>div{
		margin: 15px 0;
		font-size: 12px;
	}
	.newall3 div>p{
		font-size: 14px;
		margin-bottom: 20px;
	}
	.newall3 div>a{
		font-size: 14px;
	}
	.newall3 div a>i{
		font-size: 12px;
	}
}	

/*==================================*/
@media screen and (min-width: 768px) and (max-width: 991px){
	.newall3>img{
		width: 250px;
		height: 180px;
		float: none;
	}
	.newall3>div{
		margin-left: 0;
		margin-top: 20px;
	}
	.newall3+hr{
		margin: 25px 0;
	}
	.newall3{
		margin: 0 0 25px 0;
	}
	.newall3 div>b{
		font-size: 15px;
	}
	.newall3 div>div{
		margin: 15px 0;
		font-size: 12px;
	}
	.newall3 div>p{
		font-size: 14px;
		margin-bottom: 20px;
	}
	.newall3 div>a{
		font-size: 14px;
	}
	.newall3 div a>i{
		font-size: 12px;
	}
}

/*==================================*/
@media screen and (min-width: 576px) and (max-width: 767px){
	.newall3{
		margin: 0 0 25px 0;
	}
	.newall3>img{
		width: 300px;
		height: 200px;
		float: none;
		margin-bottom: 20px;
	}
	.newall3>div{
		margin-left: 0;
	}
	.newall3 div>div{
		margin: 20px 0;
	}
	.newall3 div>b{
		font-size: 16px;
	}
	.newall3 div>p{
		margin-bottom: 20px;
		font-size: 14px;
	}
	.newall3+hr{
		margin: 25px 0;
	}
	.newall3 div>a{
		font-size: 14px;
	}
	.newall3 div a>i{
		font-size: 12px;
	}
}

/*==================================*/
@media screen and (max-width: 575px){
	.newall3{
		margin: 0 0 25px 0;
	}
	.newall3>img{
		width: 100%;
		height: 180px;
		float: none;
		margin-bottom: 20px;
	}
	.newall3>div{
		margin-left: 0;
	}
	.newall3 div>div{
		margin: 15px 0;
		font-size: 12px;
	}
	.newall3 div>b{
		font-size: 14px;
	}
	.newall3 div>p{
		margin-bottom: 20px;
		font-size: 12px;
	}
	.newall3+hr{
		margin: 25px 0;
	}
	.newall3 div>a{
		font-size: 12px;
	}
	.newall3 div a>i{
		font-size: 10px;
	}
}